{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<h1 class="text-center" id="pageheading">
 Glossary of Terms
</h1>
<p class="text-center" id="pageparagraph" style="margin: 0px;">
 Every university has its own slang, and Cambridge is no exception: welcome to the world of pidges and plodges!
</p>
{% endblock %}

{% block main %}
<main id="main">
 <section class="text-left" style="padding: 20px;">
  <a href="/freshers" id="backlink">
   &lt; back to Freshers
  </a>
 </section>
 <section>
  <div class="container text-center" style="padding: 10px;">
   <div class="d-inline-flex" style="max-width: 800px;">
    <ul class="text-left" style="max-width: 800px;">
     <li>
      <strong>
       <em>
        The Backs
       </em>
      </strong>
      – The grassy area outside St John’s College New Court.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Blues
       </em>
      </strong>
      – Blues are students who have represented the University in a Full‐Blue sport in a Varsity match against Oxford.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Buttery
       </em>
      </strong>
      – The Buttery Dining Room (cafeteria) here at St John’s where breakfast, lunch and dinner are served.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        DoS
       </em>
      </strong>
      – Acronym for Director of Studies.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Ents
       </em>
      </strong>
      – These are parties thrown for students of the College by the St John’s JCR and happen three times a term.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Fellows
       </em>
      </strong>
      – Fellows are academics of the College.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Hall
       </em>
      </strong>
      – Going to Hall means going for a splendid three‐course meal, wearing their gowns, in the College’s Dining Hall. This is available to students every day apart from Saturday, should they wish.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        JCR
       </em>
      </strong>
      – This stands for the Junior Combination Room and can refer to one of two things. It either refers to the Undergraduate Common Room in Second Court where the TV/Xbox/ping pong is. Alternatively, it
                            may refer to the St John’s JCR Committee.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        May Week
       </em>
      </strong>
      – The confusingly named week in June, after exams are finished when all May Balls are held.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Pidge
       </em>
      </strong>
      – Slang for pigeon‐hole where all students mail goes.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Plodge
       </em>
      </strong>
      – Slang for the Porters’ Lodge.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Progress Tests
       </em>
      </strong>
      – These will be subject dependent and are usually held at the beginning of Lent (second term).
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Scholars
       </em>
      </strong>
      – Students who achieve a First Class result their Tripos exams are invited to be admitted as a Scholar of the College.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Supos
       </em>
      </strong>
      – Slang for Supervisions.
      <br/>
     </li>
     <li>
      <strong>
       <em>
        Swaps
       </em>
      </strong>
      – These are student‐organised events where two groups from different Colleges get together and usually go for a meal/drink together.
      <br/>
     </li>
    </ul>
   </div>
  </div>
 </section>
</main>
{% endblock %}
