{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading">
   Freshers
  </h1>
  <p class="text-center" id="pageparagraph" style="margin: 0px;">
   Uni is often regarded as the best years of your life, and we hope that your time at John's lives up this! Below we've compiled some handy information to help you settle into college life.
  </p>
 </div>
</div>
{% endblock %}

{% block main %}
<main class="features-boxed">
 <div class="container">
  <div class="row justify-content-center features">
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-md-flex d-xl-flex justify-content-center align-content-stretch justify-content-md-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-star icon">
     </i>
     <h3 class="name">
      Welcome from the VP
     </h3>
     <p class="description">
      Welcome to John's! Many of the freshers activities are organised by the JCR Vice President, and they would like to extend to you a welcome from all of us.
      <br/>
     </p>
     <a class="learn-more" href="/freshers/vpwelcome">
      Read the welcome »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-xl-flex justify-content-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-suitcase icon">
     </i>
     <h3 class="name">
      What to Bring
     </h3>
     <p class="description">
      At uni, you'll need stuff. Clothes, pens, guacamole. We've produced a page to guide you on what you should bring.
      <br/>
     </p>
     <a class="learn-more" href="/freshers/whattobring">
      What stuff? »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-info icon">
     </i>
     <h3 class="name">
      Your First Day
     </h3>
     <p class="description">
      No one knows what to expect on their first day at University. Except you. Right now. Click here to find out more.
      <br/>
     </p>
     <a class="learn-more" href="/freshers/yourfirstday">
      Discover day one »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-md-flex d-xl-flex justify-content-center align-content-stretch justify-content-md-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-link icon">
     </i>
     <h3 class="name">
      Useful Contacts
     </h3>
     <p class="description">
      At some point, some sort of bank or student finance form will ask you where you'll be living in College. You may even like to contact someone yourself.
      <br/>
     </p>
     <a class="learn-more" href="/freshers/usefulcontacts">
      Contact »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-xl-flex justify-content-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-question icon">
     </i>
     <h3 class="name">
      Glossary of Terms
     </h3>
     <p class="description">
      Some countries have different languages to us. Cambridge has its own too... We've made a glossary to help you out with Cambridge slang..
      <br/>
     </p>
     <a class="learn-more" href="/freshers/glossary">
      Show me the lingo »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-external-link icon">
     </i>
     <h3 class="name">
      College Website
     </h3>
     <p class="description">
      Though you should be able to find everything you need here, we may have missed something! Go here to have a look at the College's main site.
      <br/>
     </p>
     <a class="learn-more" href="https://www.joh.cam.ac.uk">
      Take me there »
     </a>
    </div>
   </div>
  </div>
 </div>
</main>
{% endblock %}
