{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<h1 class="text-center" id="pageheading">
 Useful contacts and links
</h1>
<p class="text-center" id="pageparagraph" style="margin: 0px;">
 There are plenty of services in Cambridge to support you during your time here. Familiarise yourself with what’s available below, and don’t forget – there are plenty of officers on the JCR committee who are very approachable
                    and can point you in the right direction!
</p>
{% endblock %}

{% block main %}
<main id="main">
 <div class="container">
  <div class="row">
   <div class="col" style="min-width: 300px;">
    <section>
     <p>
      <strong>
       <span style="text-decoration: underline;">
        Yourself
       </span>
      </strong>
     </p>
     <p>
      During your time at John's your new address will be:
     </p>
     <p>
      (Your name)
      <br/>
      St John’s College
      <br/>
      Cambridge
      <br/>
      Cambridgeshire
      <br/>
      CB2 1TP
     </p>
     <p>
      Parcels sent to your address will be delivered to the Great Gate Porter's Lodge and you'll get an email as soon as they're processed. Letters will be put in your pidgeon hole in the mail room next door. (You'll need your CamCard
                            to get in!)
     </p>
    </section>
   </div>
   <div class="col" style="min-width: 300px;">
    <section>
     <p>
      <strong>
       <span style="text-decoration: underline;">
        Useful contacts
       </span>
      </strong>
     </p>
     <p>
      <em>
       St. John's Porter's Lodge
      </em>
      : 01223 338600
     </p>
     <p style="margin-bottom: 0px;">
      <em>
       University Counselling Service
      </em>
      : 01223 332865
     </p>
     <p>
      <a href="http://www.counselling.cam.ac.uk">
       www.counselling.cam.ac.uk
      </a>
     </p>
     <p style="margin-bottom: 0px;">
      <em>
       Clinic 1A Addenbrookes
      </em>
     </p>
     <p>
      Confidential testing, support, and treatment of sexually transmitted diseases, including HIV. Phone 01223 217774, to make an appointment.
     </p>
     <p>
      <em>
       Nightline
      </em>
      (7pm-7am during term time) : 01223 744444
     </p>
     <p style="margin-bottom: 0px;">
      <em>
       Disability Resource Centre
      </em>
      : 01223 332301
     </p>
     <p>
      <a href="http://www.cam.ac.uk/cambuniv/disability">
       www.cam.ac.uk/cambuniv/disability
      </a>
      <br/>
     </p>
     <p>
      <em>
       Panther Taxis
      </em>
      : 01223 715715
     </p>
    </section>
   </div>
  </div>
  <div class="row d-xl-flex">
   <div class="col d-md-flex d-xl-flex align-items-md-center justify-content-xl-start col-6" style="min-width: 300px;">
    <section>
     <p>
      <strong>
       <span style="text-decoration: underline;">
        Handy Study Links
       </span>
      </strong>
     </p>
     <p>
      <a href="https://www.vle.cam.ac.uk/login/index.php">
       Moodle
      </a>
      - Course material for most students.
     </p>
     <p>
      <a href="https://www.camsis.cam.ac.u">
       CamSIS
      </a>
      - Exam results, enrollments, surveys &amp; more
     </p>
     <p>
      <a href="http://www.camcors.cam.ac.uk/">
       CamCORS
      </a>
      - Supervision reports
     </p>
    </section>
   </div>
   <div class="col d-md-flex d-lg-flex d-xl-flex justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center col-lg-6" style="min-width: 300px;">
    <figure class="figure col-lg-10">
     <img class="img-fluid figure-img" src="/assets/img/DSC05754.jpg"/>
     <figcaption class="figure-caption text-center">
      New Court Cloisters, credit Paul Everest
     </figcaption>
    </figure>
   </div>
  </div>
 </div>
</main>
{% endblock %}
