<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JCRweb_master</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/assets/css/Collapsible-sidebar-left-or-right--Content-overlay.css">
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="/assets/css/JohnianHeader.css">
    <link rel="stylesheet" href="/assets/css/JohnianNavbar.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
<title>St. John's College JCR</title>
</head>

<body>
    <div>
        <div class="overlay"></div>
        <div id="sidebar" class="sidebar-right" style="background-color: rgba(118,187,239,0.17);">
            <div class="sidebar-header">
                <div id="close-sidebar"><i class="fa fa-chevron-left" id="closemenu"></i></div>
                <h2></h2>
            </div>
            <ul>
                <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/yourjcr/home"><i class="fa fa-user"></i>&nbsp;Your JCR</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#yourjcrmenu" aria-expanded="false" aria-controls="yourjcrmenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                    <ul
                        class="list-unstyled collapse" id="yourjcrmenu" aria-expanded="false">
                        <li id="sublink"> <a href="/yourjcr/committee"><i class="fa fa-group"></i>&nbsp; Committee</a></li>
                        <li id="sublink"> <a href="/yourjcr/academicaffairs"><i class="fa fa-book"></i>&nbsp; Academic Affairs</a></li>
                        <li id="sublink"> <a href="/yourjcr/access"><i class="fa fa-key"></i>&nbsp; Access</a></li>
                        <li id="sublink"> <a href="/yourjcr/consentjohns"><i class="fa fa-intersex"></i>&nbsp; Consent John's</a></li>
                        <li id="sublink"> <a href="/yourjcr/ents"><i class="fas fa-glass-cheers"></i>&nbsp; Ents</a></li>
                        <li id="sublink"> </li>
            </ul>
            </li>
            <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/studentlife/home"><i class="fa fa-user"></i>&nbsp; Student Life</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#slifemenu" aria-expanded="false" aria-controls="slifemenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                <ul
                    class="list-unstyled collapse" id="slifemenu" aria-expanded="false">
                    <li id="sublink"> <a href="#"><i class="fa fa-mortar-board"></i>&nbsp; Life in Cambridge</a></li>
                    <li id="sublink"> <a href="#"><i class="fa fa-soccer-ball-o"></i>&nbsp; Clubs &amp; Societies</a></li>
                    <li id="sublink"> <a href="#"><i class="fa fa-university"></i>&nbsp; Facilities</a></li>
                    <li id="sublink"> </li>
                    </ul>
            </li>
            <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/freshers/home"><i class="fa fa-user"></i>&nbsp; Freshers</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#freshersmenu" aria-expanded="false" aria-controls="freshersmenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                <ul
                    class="list-unstyled collapse" id="freshersmenu" aria-expanded="false">
                    <li id="sublink"> <a href="/freshers/yourfirstday"><i class="fa fa-info-circle"></i>&nbsp; Your First Day</a></li>
                    <li id="sublink"> <a href="/freshers/whattobring"><i class="fa fa-suitcase"></i> What to bring</a></li>
                    <li id="sublink"> <a href="/freshers/vpwelcome"><i class="fa fa-star"></i> Welcome from the VP</a></li>
                    <li id="sublink"> <a href="/freshers/usefulcontacts"><i class="fas fa-link"></i> Useful Contacts</a></li>
                    <li id="sublink"> <a href="/freshers/glossary"><i class="fa fa-question"></i>&nbsp; Glossary of Terms</a></li>
                    </ul>
            </li>
            <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/currentstudents/home"><i class="fa fa-user"></i>&nbsp; Current Students</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#cstudentsmenu" aria-expanded="false" aria-controls="cstudentsmenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                <ul
                    class="list-unstyled collapse" id="cstudentsmenu" aria-expanded="false">
                    <li id="sublink"> <a href="/currentstudents/welfare"><i class="fa fa-star"></i>&nbsp; Welfare Supplies</a></li>
                    <li id="sublink"> <a href="/currentstudents/feedback"><i class="fa fa-wpforms"></i>&nbsp; Facilities Feedback</a></li>
                    <li id="sublink"> <a href="/currentstudents/elections"><i class="fa fa-info-circle"></i>&nbsp; JCR Elections</a></li>
                    </ul>
            </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand fixed-top">
        <div class="container-fluid"><a class="navbar-brand" id="logo" href="/" style="color: rgba(255,255,255,0.9);font-family: Montserrat, sans-serif;font-weight: 600;font-style: semi-bold;min-width: none;">ST JOHN'S JCR</a>
            <div class="collapse navbar-collapse" id="navcol-1" style="min-width: none;">
                <div class="btn-group ml-auto" role="group"><a class="btn btn-primary ml-auto pull-right" role="button" id="raven" href="/login" style="margin: 0px 0px;margin-left: 0px;background-color: rgba(0,123,255,0);border-color: transparent;min-width: none;"><i class="fas fa-crow"></i>&nbsp; Login</a>
                    <button
                        class="btn btn-primary ml-auto pull-right open-sidebar" id="navmenu" type="button" style="margin: 0px 0px;margin-left: 0px;background-color: transparent;border-color: transparent;min-width: none;"><i class="fa fa-navicon"></i>&nbsp;Menu</button>
                </div>
            </div>
        </div>
    </nav>
    <section id="navbarheading" class="clean-block features" style="background-position: center;background-size: cover;background-repeat: no-repeat;filter: brightness(100%) contrast(100%) saturate(100%);padding-bottom: 0px;width: 100%;background-image: url(&quot;/assets/img/110614.jpg&quot;);">
        <div class="container class=&quot;col-sm col-md-10 col-lg-10&quot;" style="padding: 0px;">
            <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
                <h1 class="text-center" id="pageheading">Welcome from the Vice President</h1>
            </div>
        </div>
    </section>
    <main id="main">
        <div class="container" style="padding: 0px;">
            <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="700" style="padding: 0px;margin: 0px;">
                <div class="col text-center col-xs-10 col-sm-10 col-md-10 col-lg-6" style="padding: 0px;min-width: 300px;">
                    <section>
                        <p style="max-width: 100%;padding: 5px 10px;padding-right: 10px;padding-left: 10px;">Hi everyone, and welcome to Johnsbridge! First of all, congratulations on making your offer, and even bigger congratulations on choosing such a great college at such a wonderful University. I hope you’re all looking forward to
                            starting your Johnsbridge journeys– I can honestly guarantee that the people you meet and experiences you have here will make these some of the best years of your life (clichéd but true)!<br></p>
                        <p style="padding: 5px 10px;">I’m Nina, your JCR Vice President, and one of my main responsibilities in that role is to organise Freshers’ Week, and make sure you all feel as safe and happy as possible in your initial time here. Myself and the JCR team have
                            done our best to organise a packed week for you all, including JCR-led workshops and meals, a very special Freshers’ Ent on your first weekend here, theatre trips and a music/ theatre mingle for any aspiring thesps out there,
                            as well as an introduction to the huge range of sports and societies here in college.<br></p>
                    </section>
                </div>
                <div class="col text-center">
                    <section><img class="img-fluid" src="/assets/img/VicePresident.jpg" style="min-width: 200px;max-height: 400px;"></section>
                </div>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="600" style="margin: 0px;padding: 0px;">
                <div class="col-auto text-center col-xs-10 col-sm-10 col-md-10 col-lg-12" style="padding: 0px;">
                    <section>
                        <p style="padding: 10px 10px;">We want you all to feel as prepared and have as much fun as possible before the hard (but hopefully enjoyable!) work begins, so really do throw yourselves into this week. Some of the friends you make will be friends for life, so
                            while Freshers’ nerves are inevitable, it’s really worth getting involved. Of course, if you ever have any questions or concerns, feel free to contact us any day, any time – we’re always around in college, or just a quick Facebook
                            stalk away.<br></p>
                        <p style="padding: 5px 10px;">And most importantly, don’t forget that everyone else is in the same position as you. It should go without saying - though many of you may struggle to believe it - that you do all belong here. Our admissions process is one of the
                            most rigorous and thorough systems you’ll ever be part of - and it does not make mistakes. From application, to interview, to offer there have been many decisions made about you and your suitability to study here. So all that’s
                            left to say is get involved, and have fun – we as the JCR are wishing you the best luck with this first chapter, and can’t wait to show you just how great this college is!<br></p>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer dark" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col text-right align-self-center" data-aos="fade-right"><a href="https://www.facebook.com/stjohnscollegejcr"><i class="fa fa-facebook-square" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                <div class="col text-center" data-aos="fade"><a class="stretched-link" href="https://www.instagram.com/stjohnsjcr/"><i class="fa fa-instagram" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                <div class="col text-left" data-aos="fade-left"><a href="#"><i class="fa fa-snapchat-ghost" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© St. John's JCR Committee 2019</p>
        </div>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/Collapsible-sidebar-left-or-right--Content-overlay.js"></script>
    <script src="/assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="/assets/js/navbartransition.js"></script>
</body>

</html>