{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading">
   Welcome from the Vice President
  </h1>
 </div>
</div>
{% endblock %}

{% block main %}
<main id="main">
 <div class="container" style="padding: 0px;">
  <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="700" style="padding: 0px;margin: 0px;">
   <div class="col text-center col-xs-10 col-sm-10 col-md-10 col-lg-6" style="padding: 0px;min-width: 300px;">
    <section>
     <p style="max-width: 100%;padding: 5px 10px;padding-right: 10px;padding-left: 10px;">
      Hi everyone, and welcome to Johnsbridge! First of all, congratulations on making your offer, and even bigger congratulations on choosing such a great college at such a wonderful University. I hope you’re all looking forward to
                            starting your Johnsbridge journeys– I can honestly guarantee that the people you meet and experiences you have here will make these some of the best years of your life (clichéd but true)!
      <br/>
     </p>
     <p style="padding: 5px 10px;">
      I’m {{ JCR['vicepresident']['name'].split()[0] }}, your JCR Vice President, and one of my main responsibilities in that role is to organise Freshers’ Week, and make sure you all feel as safe and happy as possible in your initial time here. Myself and the JCR team have
                            done our best to organise a packed week for you all, including JCR-led workshops and meals, a very special Freshers’ Ent on your first weekend here, theatre trips and a music/ theatre mingle for any aspiring thesps out there,
                            as well as an introduction to the huge range of sports and societies here in college.
      <br/>
     </p>
    </section>
   </div>
   <div class="col text-center">
    <section>
     <img class="img-fluid" src="/assets/img/committee/VicePresident.jpg" style="min-width: 200px;max-height: 400px;"/>
    </section>
   </div>
  </div>
  <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="600" style="margin: 0px;padding: 0px;">
   <div class="col-auto text-center col-xs-10 col-sm-10 col-md-10 col-lg-12" style="padding: 0px;">
    <section>
     <p style="padding: 10px 10px;">
      We want you all to feel as prepared and have as much fun as possible before the hard (but hopefully enjoyable!) work begins, so really do throw yourselves into this week. Some of the friends you make will be friends for life, so
                            while Freshers’ nerves are inevitable, it’s really worth getting involved. Of course, if you ever have any questions or concerns, feel free to contact us any day, any time – we’re always around in college, or just a quick Facebook
                            stalk away.
      <br/>
     </p>
     <p style="padding: 5px 10px;">
      And most importantly, don’t forget that everyone else is in the same position as you. It should go without saying - though many of you may struggle to believe it - that you do all belong here. Our admissions process is one of the
                            most rigorous and thorough systems you’ll ever be part of - and it does not make mistakes. From application, to interview, to offer there have been many decisions made about you and your suitability to study here. So all that’s
                            left to say is get involved, and have fun – we as the JCR are wishing you the best luck with this first chapter, and can’t wait to show you just how great this college is!
      <br/>
     </p>
    </section>
   </div>
  </div>
 </div>
</main>
{% endblock %}
