{% extends 'shared/_layout.j2.html' %}
{% import 'shared/_picture_card.j2.html' as pictureCard %}

{% block title %}
<title>Facilities</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
    <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
        <h1 class="text-center" id="pageheading">
            Facilities
        </h1>
        <p class="text-center" id="pageparagraph" style="margin: 0px;">
            St John's is blessed to have so many wonderful facilities. This is a handy guide to what's what and what's
            where.
        </p>
    </div>
</div>
{% endblock %}

{% block main %}
<main>
    <div class="container" style="margin-top: 16px;">

        <nav class="nav nav-tabs card-header flex-row flex-no-wrap" style="padding-bottom: 0px">
            {% for facilities_area in facilities_by_area %}
            {% set activity = "active" if loop.index == 2 %}
            <a class="col nav-item nav-link {{activity}}" role="tab" data-toggle="tab" href="#tab-{{loop.index}}"
                style="overflow: hidden; text-overflow: ellipsis;">
                {{facilities_area.area}}
            </a>
            {% endfor %}
        </nav>


        <div class="tab-content">
            {% for facilities_area in facilities_by_area %}
            {% set activity="show active" if loop.index == 2 %}
            <div class="tab-pane fade {{activity}}" role="tabpanel" id="tab-{{loop.index}}">
                <div class="card">
                    <div class="card-body" style="padding-top: 0; padding-bottom: 0;">
                        <div class="container text-center d-none d-sm-none">
                            <H5>
                                {{facilities_area.area}}
                            </H5>
                        </div>
                        {% for facility in facilities_area.facilities %}
                        {% if loop.index % 2 == 1 %}
                        {{pictureCard.left(facility)}}
                        {% else %}
                        {{pictureCard.right(facility)}}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}