{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<h1 class="text-center" id="pageheading">
 Facilities
</h1>
<p class="text-center" id="pageparagraph" style="margin: 0px;">
 St John's is blessed to have so many wonderful facilities. This is a handy guide to what's what and what's where.
</p>
{% endblock %}

{% block main %}
<main>
 <div class="container" style="margin-top: 16px;">
  <div>
   <ul class="nav nav-tabs card-header">
    <li class="nav-item">
     <a class="nav-link" data-toggle="tab" href="#tab-1" role="tab">
      First Court
     </a>
    </li>
    <li class="nav-item">
     <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab">
      Second Court
     </a>
    </li>
    <li class="nav-item">
     <a class="nav-link active" data-toggle="tab" href="#tab-3" role="tab">
      Chapel Court
     </a>
    </li>
    <li class="nav-item">
     <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab">
      Fisher Building
     </a>
    </li>
    <li class="nav-item">
     <a class="nav-link" data-toggle="tab" href="#tab-5" role="tab">
      Cripps Basement
     </a>
    </li>
   </ul>
   <div class="tab-content">
    <div class="tab-pane" id="tab-1" role="tabpanel">
     <div class="card">
      <div class="card-body" style="padding: 20;padding-top: 0;padding-bottom: 0;">
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/_AT_1180.jpg" style="margin-right: 0px;"/>
          </div>
          <div class="col-md-7 col-lg-8">
           <h4>
            Formal Hall
           </h4>
           <p>
            Located just in between first and second court, hall is one of college's prized possessions.
           </p>
           <p>
            You can book tickets on uPay for a very reasonable price. Ordinarily, Johnians are allowed to purchase 2 additional guest tickets. If you want to bring more guests you can either seek dean approval or just
                                                    ask a few mates to come with you.
           </p>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-7 col-lg-8">
           <h4>
            The Old Music Room
            <br/>
           </h4>
           <p>
            Hosts a few choice events. The annual wine tasting takes palce in the old music room and is not one to miss.
            <br/>
           </p>
          </div>
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="tab-pane" id="tab-2" role="tabpanel">
     <div class="card">
      <div class="card-body">
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
          <div class="col-md-7 col-lg-8">
           <h4>
            The JCR
           </h4>
           <p>
            Short for the Junior Combination Room, this is the one room in college dedicated exclusively to undergraduate students.
           </p>
           <p>
            Come here for a big TV with BT Sport, Mario Kart and Fifa - to name but a few. If that isn't your cup of tea, you can also play with some pool, ping pong, darts or even a bit of table football
           </p>
           <p>
           </p>
           <p>
           </p>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-left" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-7 col-lg-8">
           <h4>
            The Bar
           </h4>
           <p>
            Pubs in Cambridge are expensive. There are however two exceptions: spoons and college bars. John's bar is a student favourite thanks to its cosy atmosphere and cheap pints.
           </p>
           <p>
            If pints aren't your cup of tea, there is in fact also tea, and most other refreshments and an assortment of snacks and bites.
           </p>
          </div>
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
          <div class="col-md-7 col-lg-8">
           <h4>
            The Buttery
           </h4>
           <p>
            If you have neither the desire nor the ability to cook. The buttery has you covered. This serves an informal breakfast, lunch and dinner every day. On saturdays the two are combined into a fan favourite
                                                    brunch.
           </p>
           <p>
            The buttery is very much the social hub of college. There will always be someone in the buttery.
           </p>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="tab-pane active" id="tab-3" role="tabpanel">
     <div class="card">
      <div class="card-body">
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
          <div class="col-md-7 col-lg-8">
           <h4>
            The Library
           </h4>
           <p>
            Does what is says on the tin.
           </p>
           <p>
            Lots of books, very fast wifi and plenty of work to be getting on with - what more could you want? Don't answer that.
           </p>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-left" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-7 col-lg-8">
           <h4>
            The Chapel
           </h4>
           <p>
            An absolutely gorgeous area of college. The chapel is always a place for reflection or admiration.
           </p>
           <p>
            A little known fact is that Johnians are allowed to ascend to the roof of the chapel during summer term. Inquire at forecourt plodge. The views are absolutely worth it. After all it is the tallest building
                                                    in Cambridge.
           </p>
          </div>
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
          <div class="col-md-7 col-lg-8">
           <h4>
            Forecourt Bike Shed
           </h4>
           <p>
            Forecourt is home to one of our two bike storage locations. The other is underneath Cripps.
            <br/>
           </p>
           <p>
            Keep your bike in whichever is most convenient but remember to register it with the porters first.
            <br/>
           </p>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="tab-pane" id="tab-4" role="tabpanel">
     <div class="card">
      <div class="card-body">
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
          <div class="col-md-7 col-lg-8">
           <h4>
            The Palmerston Room
           </h4>
           <p>
            One of the most miscellaneous but best rooms in college. It is a fully-sized badminton court but also has a stage and removable seating.
            <br/>
           </p>
           <p>
            The Palmerston room also houses our famous Super Ents. Watch out for those.
            <br/>
           </p>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-left" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-7 col-lg-8">
           <h4>
            The Fisher Foyer
           </h4>
           <p>
            Hosts various events over the course of the year. However, it is best known as the OG Ent location.
           </p>
           <p>
            Much fun has been had in the Fisher Foyer.
           </p>
          </div>
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
          <div class="col-md-7 col-lg-8">
           <h4>
            Computer Room
           </h4>
           <p>
            A well-kept secret. On the top floor of the Fisher Building is a computer room. This houses various computers and some printers.
           </p>
           <p>
            It's like the library but less sweat.
           </p>
           <p>
           </p>
           <p>
           </p>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="tab-pane" id="tab-5" role="tabpanel">
     <div class="card">
      <div class="card-body">
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
          <div class="col-md-7 col-lg-8">
           <h4>
            Cripps Bike Shed
           </h4>
           <p>
            Much like it's counterpart in Forecourt you can keep your bike here. Pick whichever is most convenient.
           </p>
           <p>
            But remember to register your bike with the porters.
           </p>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-left" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-7 col-lg-8">
           <h4>
            The Fitness Centre
           </h4>
           <p>
            If you like staying fit, this is the palce for you.
           </p>
           <p>
            There are various machines for staying fit in this room. I do not know their names but I am told they are quite effective.
           </p>
           <p>
            If somehing is missing/broken or you want something new contact our facilities officer:
            <strong>
             Tim D'Aboville (tgmd2)
            </strong>
           </p>
          </div>
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
          <div class="col-md-7 col-lg-8">
           <h4>
            The Free Weights Room
           </h4>
           <p>
            Because one gym wasn't enough.
           </p>
           <p>
            This is where you come to lift weights that are free, should you feel so inclined.
           </p>
           <p>
           </p>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-left" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-7 col-lg-8">
           <h4>
            The Snooker Room
           </h4>
           <p>
            A very underrated room in college. This houses a fully sized snooker table.
           </p>
           <p>
            Sign out the keys from Cripps plodge and go get your 147s.
           </p>
          </div>
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
         </div>
        </div>
       </div>
       <div class="card col" data-aos="fade-right" style="margin-top: 20px;margin-bottom: 20px;padding: 0;">
        <div class="card-body">
         <div class="row d-lg-flex align-items-lg-center">
          <div class="col-md-5 d-md-flex align-items-md-center col-sm col-lg-4" style="margin-bottom: 10px;margin-top: 10px;">
           <img class="img-fluid border rounded mr-3" src="/assets/img/110614_16574.jpg" style="margin-right: 0px;"/>
          </div>
          <div class="col-md-7 col-lg-8">
           <h4>
            Band Practice Room
           </h4>
           <p>
            Also underneath Cripps, this room is wonderfully noise-insulated and has all the equipment you could possibly need to jam out.
           </p>
           <p>
            In the immortal words of Jeremy Osborne: "Big Beats are the Best".
           </p>
           <p>
           </p>
           <p>
           </p>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</main>
{% endblock %}
