*.pyc
*.pyo
instance/*
.vscode/
*.bsdesign
*.bsdesign.tmp
website/content/config/johnians.txt
website/helper/config.txt
website/helper/johnians.dump
website/templates_temp
website/content/keys.json
.venv/
env_main/
test/
.pytest_cache/
.idea/
