{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading" style="padding-top: 10px;">
   Meet the Committee
   <br/>
  </h1>
  <p class="text-center" id="pageparagraph" style="padding: 0px;">
   <br/>
   Everything the JCR does doesn’t just happen by itself, it requires the work of our wonderful committee! Have a look below to see our shout-out to them for all of their hard work.
   <br/>
  </p>
 </div>
</div>
{% endblock %}

{% block main %}
<main>
 <div class="container">
  <div class="row" data-aos="fade-up" data-aos-duration="700" style="padding-top: 20px;padding-bottom: 20px;">
   <div class="col text-center">
    <h1 class="text-left">
     Female and Non-Binary Welfare
     <br/>
    </h1>
    <h3 class="text-left text-secondary">
     Amara Mulliner
    </h3>
    <h5 class="text-left text-secondary">
     <em>
      CRSid:
     </em>
     <strong>
      <em>
       aom32
      </em>
     </strong>
     <br/>
    </h5>
   </div>
  </div>
  <div class="row" data-aos="fade-up" data-aos-duration="700">
   <div class="col-xl-5">
    <img class="img-fluid border rounded" src="/assets/img/FWelfare.jpg"/>
   </div>
   <div class="clearfix">
   </div>
   <div class="col text-center">
    <div style="padding-top: 10px;">
     <p style="padding: 5px;">
      Hi, I’m Amara, your female welfare officer this year. I’m a second year studying Economics, and play netball, hockey and cox for the college. I’m also part of the University Athletics team. My role is to keep College as happy
                            and healthy as possible, running weekly drop in sessions, organising welfare events and providing anonymous sexual health supplies. If you have any worries or issues at all I’m always available for a chat and I am able
                            to point you towards someone in the college’s support team if you require further help.
      <br/>
     </p>
     <div class="row">
      <div class="col-xl-6" style="padding-top: 10px;">
       <button class="btn btn-primary" type="button">
        Contact Me
       </button>
      </div>
      <div class="clearfix">
      </div>
      <div class="col-xl-6" style="padding-top: 10px;">
       <button class="btn btn-primary" type="button">
        Back to Committee
       </button>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</main>
{% endblock %}
