{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading" style="padding-top: 10px;">
   Meet the Committee
   <br/>
  </h1>
  <p class="text-center" id="pageparagraph" style="padding: 0px;">
   <br/>
   Everything the JCR does doesn’t just happen by itself, it requires the work of our wonderful committee! Have a look below to see our shout-out to them for all of their hard work.
   <br/>
  </p>
 </div>
</div>
{% endblock %}

{% block main %}
<main>
 <div class="container">
  <div class="row" data-aos="fade-up" data-aos-duration="700" style="padding-top: 20px;padding-bottom: 20px;">
   <div class="col text-center">
    <h1 class="text-left">
     Women
     <br/>
    </h1>
    <h3 class="text-left text-secondary">
     Anastasia Blamey
    </h3>
    <h5 class="text-left text-secondary">
     <em>
      CRSid:
     </em>
     <strong>
      <em>
       ab2555
      </em>
     </strong>
     <br/>
    </h5>
   </div>
  </div>
  <div class="row" data-aos="fade-up" data-aos-duration="700">
   <div class="col-xl-5">
    <img class="img-fluid border rounded" src="/assets/img/Women.jpg"/>
   </div>
   <div class="clearfix">
   </div>
   <div class="col text-center">
    <div style="padding-top: 10px;">
     <p style="padding: 5px;">
      Hi, I’m Anastasia – a first year studying medicine and your women’s officer. I am part of the university cheerleading team and college medical society. My aim is to advocate for women’s rights within college and help to celebrate
                            the successes of the female members of John’s. If you have any concerns about issues you have within or outside of college, please do not hesitate to contact me! I would be happy to help or point you towards the right person.
      <br/>
     </p>
     <div class="row">
      <div class="col-xl-6" style="padding-top: 10px;">
       <button class="btn btn-primary" type="button">
        Contact Me
       </button>
      </div>
      <div class="clearfix">
      </div>
      <div class="col-xl-6" style="padding-top: 10px;">
       <button class="btn btn-primary" type="button">
        Back to Committee
       </button>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</main>
{% endblock %}
