{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading">
   Elections
  </h1>
  <p class="text-center" id="pageparagraph" style="margin: 0px;">
   Thank you to everyone who voted in the recent elections. The results of the election can be found below!
  </p>
 </div>
</div>
{% endblock %}

{% block main %}
<main>
 <section class="text-center">
  <div class="container d-lg-flex" style="padding: 25px;">
   <div class="row justify-content-center" style="width: 100%;">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-xl-0">
     <div class="card border-white" style="padding: 10px;">
      <img class="card-img-top w-100 d-block" data-bs-hover-animate="bounce" src="/assets/img/Access.jpg"/>
      <div class="card-body">
       <h4 class="card-title">
        Access
       </h4>
       <p class="card-text">
        Imogen Arden-Jones
       </p>
       <a class="btn btn-primary text-light" href="{{access}}" role="button">
        Manifesto
       </a>
      </div>
     </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-xl-0">
     <div class="card border-white" style="padding: 10px;">
      <img class="card-img-top w-100 d-block" data-bs-hover-animate="bounce" src="/assets/img/Facilities.jpg"/>
      <div class="card-body">
       <h4 class="card-title">
        Facilities
       </h4>
       <p class="card-text">
        Tim D'Aboville
       </p>
       <a class="btn btn-primary text-light" href="/yourjcr/committee/vicepresident" role="button">
        Manifesto
       </a>
      </div>
     </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-xl-0">
     <div class="card border-white" style="padding: 10px;">
      <img class="card-img-top w-100 d-block" data-bs-hover-animate="bounce" src="/assets/img/Secretary.jpg"/>
      <div class="card-body">
       <h4 class="card-title">
        Secretary
       </h4>
       <p class="card-text">
        Martin Limback-Stokin
       </p>
       <a class="btn btn-primary text-light" href="/yourjcr/committee/vicepresident" role="button">
        Manifesto
       </a>
      </div>
     </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-xl-0">
     <div class="card border-white" style="padding: 10px;">
      <img class="card-img-top w-100 d-block" data-bs-hover-animate="bounce" src="/assets/img/BME.jpg"/>
      <div class="card-body">
       <h4 class="card-title">
        BME Officer
       </h4>
       <p class="card-text">
        Yash Agarwal
       </p>
       <a class="btn btn-primary text-light" href="/yourjcr/committee/vicepresident" role="button">
        Manifesto
       </a>
      </div>
     </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-xl-0">
     <div class="card border-white" style="padding: 10px;">
      <img class="card-img-top w-100 d-block" data-bs-hover-animate="bounce" src="/assets/img/Disabilities.jpg"/>
      <div class="card-body">
       <h4 class="card-title">
        Disabilities Officer
       </h4>
       <p class="card-text">
        Becca Gutteridge
       </p>
       <a class="btn btn-primary text-light" href="/yourjcr/committee/vicepresident" role="button">
        Manifesto
       </a>
      </div>
     </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-xl-0">
     <div class="card border-white" style="padding: 10px;">
      <img class="card-img-top w-100 d-block" data-bs-hover-animate="bounce" src="/assets/img/Internationals.jpg"/>
      <div class="card-body">
       <h4 class="card-title">
        Internationals' Officer
       </h4>
       <p class="card-text">
        Sophie Michalski
       </p>
       <a class="btn btn-primary text-light" href="/yourjcr/committee/vicepresident" role="button">
        Manifesto
       </a>
      </div>
     </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-xl-0">
     <div class="card border-white" style="padding: 10px;">
      <img class="card-img-top w-100 d-block" data-bs-hover-animate="bounce" src="/assets/img/LGBTQ.jpg"/>
      <div class="card-body">
       <h4 class="card-title">
        LGBTQ+ Officer
       </h4>
       <p class="card-text">
        Laurence van Someren
       </p>
       <a class="btn btn-primary text-light" href="/yourjcr/committee/vicepresident" role="button">
        Manifesto
       </a>
      </div>
     </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 offset-xl-0">
     <div class="card border-white" style="padding: 10px;">
      <img class="card-img-top w-100 d-block" data-bs-hover-animate="bounce" src="/assets/img/Women.jpg"/>
      <div class="card-body">
       <h4 class="card-title">
        Women's Officer
       </h4>
       <p class="card-text">
        Anastasia Blamey
       </p>
       <a class="btn btn-primary text-light" href="/yourjcr/committee/vicepresident" role="button">
        Manifesto
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </section>
</main>
{% endblock %}
