{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<h1 class="text-center" id="pageheading">
 Facilities Feedback
</h1>
<p class="text-center" id="pageparagraph" style="margin: 0px;">
 If you have any feedback on the Gym and/ or laundry facilities in college your JCR facilities officer Tim (
 <strong>
  <em>
   tgmd2
  </em>
 </strong>
 ) would love to hear it using the forms linked below.
</p>
{% endblock %}

{% block main %}
<main>
 <section class="text-left" style="padding: 20px;">
  <a href="/currentstudents" id="backlink" style="font-size: 24px;">
   &lt; back to Current Students
  </a>
 </section>
 <section class="d-lg-flex justify-content-lg-center" style="width: 100%;padding: 80px;">
  <div class="container" style="width: 100%;">
   <div class="row text-nowrap text-center justify-content-center" style="margin: 0px;width: 100%;">
    <div class="col text-center align-self-center" id="colbutton" style="min-width: 300px;/*background-color: #f5f5f5;*/margin: 10px;max-width: 400px;padding: 0px;">
     <a class="text-center" href="/currentstudents/gymfb" id="textlink">
      <div style="padding: 10px;">
       <h4>
        Gym Feedback
       </h4>
       <i class="fas fa-dumbbell" style="font-size: 48px;">
       </i>
      </div>
     </a>
    </div>
    <div class="col text-center align-self-center" id="colbutton" style="min-width: 300px;/*background-color: #f5f5f5;*/margin: 10px;max-width: 400px;padding: 0px;">
     <a class="text-center" href="/currentstudents/laundryfb" id="textlink">
      <div style="padding: 10px;">
       <h4>
        Laundry Feedback
       </h4>
       <i class="fas fa-tshirt" style="font-size: 48px;">
       </i>
      </div>
     </a>
    </div>
   </div>
  </div>
 </section>
</main>
{% endblock %}
