{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading">
   Get involved
  </h1>
 </div>
</div>
{% endblock %}

{% block main %}
<main>
 <div class="container" style="padding-top: 20px;">
  <div class="row justify-content-center">
   <div class="col col-lg-10">
    <p class="text-center">
     The current JCR website was built in 2019 by
     <a href="mailto:ojrb2@cam.ac.uk">
      Ollie Barnard
     </a>
     ,
     <a href="mailto:lpt30@cam.ac.uk">
      Lawrence Tray
     </a>and
     <a href="mailto:jfc43@cam.ac.uk">
      Jonathan Carter
     </a>, with the help of the wonderful designs of
     <a href="mailto:al918@cam.ac.uk">
      Adi Levin
     </a>
     and
     <a href="mailto:dg546@cam.ac.uk">
      Daisy Gemmel
     </a>
     .
    </p>
    <p class="text-center">
     We're always on the lookout for more members to join the JCR Tech Team, to bring fresh ideas and to help expand the current site with new, exciting features.
    </p>
    <p class="text-center" style="padding-bottom: 20px;">
     If you'd like to gain some invaluable software development experience then
     <a href="mailto:computing@sjcjcr.com">get in touch</a>;
     prior experience with Python/ Git is desirable but a willingness to learn is more important!
    </p>
   </div>
  </div>
  <div class="row">
   <div class="col">
    <img src="/assets/img/IMG_3486.jpg" width="100%"/>
   </div>
  </div>
 </div>
</main>
{% endblock %}
