{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading">
   Gym Feedback
  </h1>
  <p class="text-center" id="pageparagraph" style="margin: 0px;">
   If you have any feedback on the college gym your JCR facilities officer {{JCR['facilities']['name'].split()[0]}} (
   <strong>
    {{JCR['facilities']['crsid']}}
   </strong>
   ) would love to hear it using the form below.
  </p>
 </div>
</div>
{% endblock %}

{% block main %}
<main>
 <section class="text-left" style="padding: 20px;">
  <a href="/currentstudents/feedback" id="backlink">
   &lt; back to Feedback
  </a>
 </section>
 <section class="d-lg-flex justify-content-lg-center" style="width: 100%;padding: 20px;">
  <iframe frameborder="0" height="1966" marginheight="0" marginwidth="0" src="https://docs.google.com/forms/d/e/1FAIpQLSfQ8WEdVZRCsXkjYrborY0dXkGzI3wbGNbMmUSgPKeqVjQgDg/viewform?embedded=true" width="100%">
   Loading…
  </iframe>
 </section>
</main>
{% endblock %}
