{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading">
   Gym Feedback
  </h1>
  <p class="text-center" id="pageparagraph" style="margin: 0px;">
   If you have any feedback on the college gym your JCR facilities officer Tim (
   <strong>
    <em>
     tgmd2
    </em>
   </strong>
   ) would love to hear it using the form below.
  </p>
 </div>
</div>
{% endblock %}

{% block main %}

{% endblock %}
