{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<h1 class="text-center" id="pageheading">
 Current Students
</h1>
<p class="text-center" id="pageparagraph" style="margin: 0px;">
 Welcome to the members only area of the JCR website! Here you can request welfare supplies, give facilities feedback, and see what your JCR have been up to over the past year.
</p>
{% endblock %}

{% block main %}
<main class="features-boxed">
 <div class="container">
  <div class="row d-flex justify-content-center features">
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-md-flex d-xl-flex justify-content-center align-content-stretch justify-content-md-center justify-content-xl-center item col-lg-4">
    <div class="box" style="width: 290px;">
     <i class="fa fa-heart-o icon">
     </i>
     <h3 class="name">
      Welfare Supplies
     </h3>
     <p class="description">
      Click here to use our
      <strong>
       ANONYMOUS
      </strong>
      sexual health supply request page. We have it all - from St Johnnies to everything else you require.
      <br/>
     </p>
     <a class="learn-more" href="/currentstudents/welfare">
      Get some supplies »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center item col-lg-4">
    <div class="box" style="width: 290px;">
     <i class="fa fa-info icon">
     </i>
     <h3 class="name">
      JCR Elections
     </h3>
     <p class="description">
      The JCR loves a bit of democracy. All of the juicy details of the last JCR election can be found here!
      <br/>
     </p>
     <a class="learn-more" href="/currentstudents/elections">
      Find out more »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-md-flex d-xl-flex justify-content-center align-content-stretch justify-content-md-center justify-content-xl-center item col-lg-4">
    <div class="box" style="width: 290px;">
     <i class="fa fa-question icon">
     </i>
     <h3 class="name">
      Facilities Feedback
     </h3>
     <p class="description">
      Not happy with the facilities in College? Or want to tell us how much you love them? Give your feedback here!
      <br/>
     </p>
     <a class="learn-more" href="/currentstudents/feedback">
      Tell me more »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-xl-flex justify-content-center justify-content-xl-center item col-lg-4">
    <div class="box" style="width: 290px;">
     <i class="fa fa-paper-plane-o icon">
     </i>
     <h3 class="name">
      Transparency Document
     </h3>
     <p class="description">
      We're an open book on the JCR Committee. Click below to find out what we've been getting up to this year!
      <br/>
     </p>
     <a class="learn-more" href="/currentstudents/transparencydocument">
      See what we've been up to »
     </a>
    </div>
   </div>
  </div>
 </div>
</main>
{% endblock %}
