<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JCRweb</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    <div>
        <div class="overlay"></div>
        <div id="sidebar" class="sidebar-right" style="background-color: rgba(118,187,239,0.17);">
            <div class="sidebar-header" style="background-color: rgba(59,153,224,0.68);">
                <div id="close-sidebar"><i class="fa fa-chevron-left" id="closemenu"></i></div>
                <h2></h2>
            </div>
            <ul>
                <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/yourjcr/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Your JCR</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#yourjcrmenu" aria-controls="yourjcrmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                    <ul
                        class="list-unstyled collapse" id="yourjcrmenu" aria-expanded="false">
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
            </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" style="width: 80%;" href="/studentlife/home"><i class="fa fa-user"></i>&nbsp;Student Life</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#slifemenu" aria-controls="slifemenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="slifemenu" aria-expanded="false">
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/freshers/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Freshers</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#freshersmenu" aria-controls="freshersmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="freshersmenu" aria-expanded="false">
                    <li> <a href="/freshers/yourfirstday"><i class="fa fa-link"></i>&nbsp; Your First Day</a></li>
                    <li> <a href="/freshers/whattobring"><i class="fa fa-link"></i> What to bring</a></li>
                    <li> <a href="/freshers/vpwelcome"><i class="fa fa-link"></i> Welcome from the VP</a></li>
                    <li> <a href="/freshers/usefulcontacts"><i class="fa fa-link"></i> Useful Contacts</a></li>
                    <li> <a href="/freshers/glossary"><i class="fa fa-link"></i>&nbsp; Glossary of Terms</a></li>
                    </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/currentstudents/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Current Students</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#cstudentsmenu" aria-controls="cstudentsmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="cstudentsmenu" aria-expanded="false">
                    <li> <a href="/currentstudents/welfare"><i class="fa fa-star"></i>&nbsp; Welfare Supplies</a></li>
                    <li> <a href="/currentstudents/feedback"><i class="fa fa-wpforms"></i>&nbsp; Facilities Feedback</a></li>
                    <li> <a href="/currentstudents/elections"><i class="fa fa-info-circle"></i>&nbsp; JCR Elections</a></li>
                    </ul>
            </li>
            </ul>
        </div>
    </div>
    <section id="navbarheading" class="clean-block features" style="background-position: center;background-size: cover;background-repeat: no-repeat;filter: brightness(100%) contrast(100%) saturate(100%);padding-bottom: 0px;width: 100%;background-image: url(&quot;/assets/img/110614.jpg&quot;);">
        <div class="row" style="height: 15vh;margin: 0px;">
            <div class="col">
                <nav class="navbar navbar-light navbar-expand">
                    <div class="container-fluid"><a class="navbar-brand" id="logo" href="/" style="color: rgba(255,255,255,0.9);font-family: Montserrat, sans-serif;font-weight: 600;font-style: semi-bold;">ST JOHN'S JCR</a>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <div class="btn-group ml-auto" role="group"><a class="btn btn-primary ml-auto pull-right" role="button" id="raven" href="/login" style="margin: 0px 0px;margin-left: 0px;background-color: rgba(0,123,255,0);border-color: transparent;"><i class="fas fa-crow"></i>&nbsp; Login</a>
                                <button
                                    class="btn btn-primary ml-auto pull-right open-sidebar" id="navmenu" type="button" style="margin: 0px 0px;margin-left: 0px;background-color: transparent;border-color: transparent;"><i class="fa fa-navicon"></i>&nbsp;Menu</button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container class=&quot;col-sm col-md-10 col-lg-10&quot;" style="padding: 0px;">
            <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
                <h1 class="text-center">Welfare Supplies</h1>
                <p class="text-center" style="margin: 0px;">Welcome to the St. John's College Welfare System. To make a request simply fill in the Google form below. You’ll also need to input a random code (luckily we’ve generated one for you below!).&nbsp;</p>
            </div>
        </div>
    </section>
    <main>
        <section class="text-center justify-content-center align-items-center align-content-center">
            <div class="container justify-content-center" style="max-width: 850px;">
                <h1 style="margin: 20px;"></h1>
                <p style="padding: 5px;">Then, simply check the JCR Welfare Pidge (at the Great Gate Porters &nbsp;Lodge) in a few days time and you’ll find an envelope with that code written on it containing all of the supplies you’ve requested!</p>
                <p style="padding: 5px;">Your random code: 3932123 (Make sure to keep a note of your code!)</p>
            </div>
        </section>
        <section data-aos="fade-up" data-aos-duration="600"><iframe id="form" src="https://docs.google.com/forms/d/e/1FAIpQLSeot1-y9wCl-YNUe5Z25TRpP_n41SVudybcAOET1ImI_SSr8w/viewform?embedded=true" width="100%" height="1084" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></section>
    </main>
    <footer class="page-footer dark" style="background-color: rgb(255,255,255);">
        <div class="container" style="padding-top: 10px;padding-bottom: 30px;">
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);font-size: 24px;">Student Life</h5>
                    <ul id="footerlist">
                        <li><a href="/yourjcr/welfare" style="color: rgb(62,60,60);">Welfare &nbsp;</a></li>
                        <li><a href="/yourjcr/ents" style="color: rgb(62,60,60);">Ents&nbsp;</a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">Official College Site&nbsp;</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);font-size: 24px;">Facebook</h5>
                    <ul id="footerlist">
                        <li><a href="#" style="color: rgb(62,60,60);">JCR&nbsp;<i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">Welfare &nbsp;<i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">St. John's Official&nbsp;<i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);font-size: 24px;">Instagram</h5>
                    <ul id="footerlist">
                        <li><a href="#" style="color: rgb(62,60,60);">JCR&nbsp;</a><i class="fa fa-instagram" style="background-color: rgba(255,255,255,0.05);"></i></li>
                        <li><a href="#" style="color: rgb(62,60,60);">Ents&nbsp;</a><i class="fa fa-instagram" style="background-color: rgba(255,255,255,0.05);"></i></li>
                        <li><a href="#" style="color: rgb(62,60,60);">St. John's Official&nbsp;</a><i class="fa fa-instagram" style="background-color: rgba(255,255,255,0.05);"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container text-center" id="footer" style="background-color: #000000;min-width: 100%;padding: 0px;padding-top: 30px;padding-bottom: 30px;">
            <p class="text-white" style="font-size: 20px;">Website design credits</p>
            <p class="text-white" style="margin: 0px;font-size: 20px;">© St. John's JCR Committee 2019</p>
        </div>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>