{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<h1 class="text-center" id="pageheading" style="padding-top: 10px;">
 Academic Affairs
 <br/>
</h1>
<p class="text-center" id="pageparagraph" style="padding: 0px;">
 In the social whirl that is Freshers’ Week, it is often easy to forget that you are here to work! However, at some point in your first week or two (or year for some) the gloomy shadow cast long over Cambridge by the University Library,
                    the ‘first essay’ or the pull of the lecture theatre will reach even the strongest of you and your Cambridge academic career will have begun!
 <br/>
</p>
{% endblock %}

{% block main %}
<main>
 <div class="container" style="padding-top: 20px;">
  <div class="row">
   <div class="col-xl-12" style="padding-top: 20px;">
    <h4 class="text-center">
     Supervisions
    </h4>
    <p class="text-center">
     Don’t see supervisions as tests – they’re meant to help you organise the material that you have to learn. The best way to take full advantage of them is to prepare as well as possible for them and to take some notes when you’re there.
                        You will be seen either alone or in small groups by a Fellow or a PhD student and spend an hour going through an essay or questions that you’ve prepared beforehand. You can also sort out any queries or problems about your lectures.
     <br/>
    </p>
    <p class="text-center">
     In supervisions you are meant to learn not just from your supervisor but from the ideas and suggestions of other students. So feel free to contribute and speak your mind. You don’t have to agree with everything you read or hear from
                        your supervisor, but you must be able to structure your arguments and justify them. If for whatever reason you’re having trouble completing the set work, it is acceptable to ask for a deadline extension, as long as it’s not every
                        week! Your supervisor will not be happy if you just turn up to the supervision without any work. This is a very good reason not to leave work until the last minute!
     <br/>
    </p>
    <p class="text-center">
     If they are not living up to your expectation and supervisors don’t seem to be bothering very much, then make a change. At the end of term you get to rate your supervisors on a confidential form. Make sure you fill this in, so
                            that good supervisors are more widely employed and bad supervisors are better trained or replaced. Your Director of Studies (DoS) or the Academic Affairs Officer will help you. You can also change your supervision partner if
                            you feel they are dominating discussions (or are horribly smelly).
     <br/>
    </p>
   </div>
  </div>
  <div class="row" style="background-color: #e4e4e4;">
   <div class="col" style="padding-top: 20px;">
    <h4 class="text-center">
     Lectures
    </h4>
    <p class="text-center">
     Organised by your department and held in central faculty buildings. Lectures usually contain all the core material. Try to go to as many as possible – a lot of arts students, for whom lectures are more optional, regret not going to
                        more lectures, as exams are usually based upon them! Besides your examiners are usually your lecturers so it’s good to know what and how they think about a subject.
     <br/>
    </p>
   </div>
   <div class="clearfix">
   </div>
   <div class="col-xl-7" style="padding-top: 20px;">
    <h4 class="text-center">
     Directors of Study (DoS)
    </h4>
    <p class="text-center">
     Your DoS is in charge of your academic progress and arranges supervisors for you. Make use of them: if you like a lecturer who does a course you are going to do then ask your DoS whether s/he can get her/him as your supervisor. Once
                        again, don’t be afraid to complain to them. If you don’t feel they are helping you as much as you’d like, email the Academic Affairs Officer or go and see Dr Timpson, the Senior Tutor. Similarly, if you think you could benefit
                        from more or fewer supervisions, send them an email and ask. Your academic performance is in their interest, so they will be helpful.
     <br/>
    </p>
   </div>
  </div>
  <div class="row">
   <div class="col-xl-12" style="padding-top: 20px;">
    <h4 class="text-center">
     Stresses and Strains
    </h4>
    <p class="text-center">
     Everyone has ups and downs and your academic life can be quite stressful. It’s obvious, but do try and balance your time and not leave too much till the last minute (though everyone has an essay crisis at some point). Talk to people
                        about your worries, especially 2nd and 3rd years who have been through it before. On the JCR Committee, our Academic Affairs and Welfare Officers are here if you ever have a problem or need help with the work side of life. Remember
                        that the step up from school to Cambridge isn’t always easy (big-fish-little-pond effect), and balancing academic life with fun can be hard. So you’re not alone if you have trouble adapting. Whatever happens, remember that you
                        were selected on the basis that you can perform well here academically, regardless of how good the rest of us are.
     <br/>
    </p>
   </div>
   <div class="clearfix">
   </div>
  </div>
  <div class="row" style="background-color: #e4e4e4;">
   <div class="col-xl-6" style="padding-top: 20px;">
    <h4 class="text-center">
     Exams
    </h4>
    <p class="text-center">
     You needn’t worry about these for a while yet, but at some point during the year they will come up. Here are some important details which may be useful to you later on.
     <br/>
    </p>
    <p class="text-center">
     The Cambridge University Student Union (CUSU) runs a series of exam stress classes and will also be organising individual sessions on exam technique and revision which will be advertised. Last year they employed professional tutors
                        to help anyone with a learning disability such as dyslexia, and more generally, they offered help to all students with essay writing skills, planning and note-taking. The College Nurse and Chaplain give interesting talks on relaxation
                        techniques.
     <br/>
    </p>
   </div>
   <div class="col" style="padding-top: 20px;">
    <h4 class="text-center">
     Appeals Procedure
    </h4>
    <p class="text-center">
     There are two grounds on which you may appeal:
     <br/>
    </p>
    <ul>
     <li>
      Extenuating Circumstances (Dyslexia, getting ill and then getting much lower mark than expected etc.). If you risk failing for extenuating reasons then you should tell your tutor. After the exam you can apply for an ‘exam allowance’
                            when your papers are marked, or you can be ‘deemed to deserve honours’ (not given a grade but deemed to have passed so you can continue into the next year)
      <br/>
     </li>
     <li>
      Conduct of xams (Technical problems, misprints, disturbances on the part of the examiner). Your tutor needs to submit a complaint within 3 days of the exam. After results have been published you have a month to get a complaint
                            in. If you’re finding that your tutor isn’t very helpful, see Dr Timpson
      <br/>
     </li>
    </ul>
   </div>
  </div>
 </div>
</main>
{% endblock %}
