<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JCRweb_master</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/assets/css/Collapsible-sidebar-left-or-right--Content-overlay.css">
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="/assets/css/JohnianHeader.css">
    <link rel="stylesheet" href="/assets/css/JohnianNavbar.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
<title>St. John's College JCR</title>
</head>

<body>
    <div>
        <div class="overlay"></div>
        <div id="sidebar" class="sidebar-right" style="background-color: rgba(118,187,239,0.17);">
            <div class="sidebar-header">
                <div id="close-sidebar"><i class="fa fa-chevron-left" id="closemenu"></i></div>
                <h2></h2>
            </div>
            <ul>
                <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/yourjcr/home"><i class="fa fa-user"></i>&nbsp;Your JCR</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#yourjcrmenu" aria-expanded="false" aria-controls="yourjcrmenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                    <ul
                        class="list-unstyled collapse" id="yourjcrmenu" aria-expanded="false">
                        <li id="sublink"> <a href="/yourjcr/committee"><i class="fa fa-group"></i>&nbsp; Committee</a></li>
                        <li id="sublink"> <a href="/yourjcr/academicaffairs"><i class="fa fa-book"></i>&nbsp; Academic Affairs</a></li>
                        <li id="sublink"> <a href="/yourjcr/access"><i class="fa fa-key"></i>&nbsp; Access</a></li>
                        <li id="sublink"> <a href="/yourjcr/consentjohns"><i class="fa fa-intersex"></i>&nbsp; Consent John's</a></li>
                        <li id="sublink"> <a href="/yourjcr/ents"><i class="fas fa-glass-cheers"></i>&nbsp; Ents</a></li>
                        <li id="sublink"> </li>
            </ul>
            </li>
            <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/studentlife/home"><i class="fa fa-user"></i>&nbsp; Student Life</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#slifemenu" aria-expanded="false" aria-controls="slifemenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                <ul
                    class="list-unstyled collapse" id="slifemenu" aria-expanded="false">
                    <li id="sublink"> <a href="#"><i class="fa fa-mortar-board"></i>&nbsp; Life in Cambridge</a></li>
                    <li id="sublink"> <a href="#"><i class="fa fa-soccer-ball-o"></i>&nbsp; Clubs &amp; Societies</a></li>
                    <li id="sublink"> <a href="#"><i class="fa fa-university"></i>&nbsp; Facilities</a></li>
                    <li id="sublink"> </li>
                    </ul>
            </li>
            <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/freshers/home"><i class="fa fa-user"></i>&nbsp; Freshers</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#freshersmenu" aria-expanded="false" aria-controls="freshersmenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                <ul
                    class="list-unstyled collapse" id="freshersmenu" aria-expanded="false">
                    <li id="sublink"> <a href="/freshers/yourfirstday"><i class="fa fa-info-circle"></i>&nbsp; Your First Day</a></li>
                    <li id="sublink"> <a href="/freshers/whattobring"><i class="fa fa-suitcase"></i> What to bring</a></li>
                    <li id="sublink"> <a href="/freshers/vpwelcome"><i class="fa fa-star"></i> Welcome from the VP</a></li>
                    <li id="sublink"> <a href="/freshers/usefulcontacts"><i class="fas fa-link"></i> Useful Contacts</a></li>
                    <li id="sublink"> <a href="/freshers/glossary"><i class="fa fa-question"></i>&nbsp; Glossary of Terms</a></li>
                    </ul>
            </li>
            <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/currentstudents/home"><i class="fa fa-user"></i>&nbsp; Current Students</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#cstudentsmenu" aria-expanded="false" aria-controls="cstudentsmenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                <ul
                    class="list-unstyled collapse" id="cstudentsmenu" aria-expanded="false">
                    <li id="sublink"> <a href="/currentstudents/welfare"><i class="fa fa-star"></i>&nbsp; Welfare Supplies</a></li>
                    <li id="sublink"> <a href="/currentstudents/feedback"><i class="fa fa-wpforms"></i>&nbsp; Facilities Feedback</a></li>
                    <li id="sublink"> <a href="/currentstudents/elections"><i class="fa fa-info-circle"></i>&nbsp; JCR Elections</a></li>
                    </ul>
            </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand fixed-top">
        <div class="container-fluid"><a class="navbar-brand" id="logo" href="/" style="color: rgba(255,255,255,0.9);font-family: Montserrat, sans-serif;font-weight: 600;font-style: semi-bold;min-width: none;">ST JOHN'S JCR</a>
            <div class="collapse navbar-collapse" id="navcol-1" style="min-width: none;">
                <div class="btn-group ml-auto" role="group"><a class="btn btn-primary ml-auto pull-right" role="button" id="raven" href="/login" style="margin: 0px 0px;margin-left: 0px;background-color: rgba(0,123,255,0);border-color: transparent;min-width: none;"><i class="fas fa-crow"></i>&nbsp; Login</a>
                    <button
                        class="btn btn-primary ml-auto pull-right open-sidebar" id="navmenu" type="button" style="margin: 0px 0px;margin-left: 0px;background-color: transparent;border-color: transparent;min-width: none;"><i class="fa fa-navicon"></i>&nbsp;Menu</button>
                </div>
            </div>
        </div>
    </nav>
    <section id="navbarheading" class="clean-block features" style="background-position: center;background-size: cover;background-repeat: no-repeat;filter: brightness(100%) contrast(100%) saturate(100%);padding-bottom: 0px;width: 100%;background-image: url(&quot;/assets/img/110614.jpg&quot;);padding-top: 100px;">
        <div class="container class=&quot;col-sm col-md-10 col-lg-10&quot;" style="padding: 0px;">
            <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
                <h1 class="text-center" id="pageheading" style="padding-top: 10px;">Access<br></h1>
                <p class="text-center" id="pageparagraph" style="padding: 0px;">Cambridge is surrounded by many myths and stereotypes, often perpetuated by the media. The primary aim of Access work is to get across the fact that these just aren’t true –&nbsp;Cambridge is made up of an amazing mix of people from&nbsp;all
                    sorts of backgrounds. Where you’ve come from, what your parents do for a living, the type of school you went to, your social and cultural background: these things cease to be important when you get here. It’s not all work, work, work,
                    either. With an endless range of activities on offer, from the nightlife to the societies, the sports to the music, Cambridge is full of opportunities to enjoy yourself.<br></p>
            </div>
        </div>
    </section>
    <main>
        <div class="container">
            <div style="padding-top: 20px;">
                <ul class="nav nav-tabs card-header">
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1">St. John's</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">University Wide</a></li>
                    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-3">Get Involved</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" role="tabpanel" id="tab-1">
                        <div class="row">
                            <div class="col-xl-6" style="padding-top: 20px;">
                                <h4 class="text-center">School Visits</h4>
                                <p class="text-center">St John’s runs and hosts a wide range of school visits and subject-specific taster days throughout the year. If you sign up to the Access mailing list, these will be the main things you get involved in. You can take part
                                    in Question and Answer sessions and give tours of the college, as well as a wide variety of other activities. These visits are crucial to Access work because for many students, it may be the first time they’ve ever
                                    visited Cambridge before. They’re really good fun, and you’re usually only required for a 45 minute slot, so it’s low commitment. You also get given a buttery meal voucher for every event you help out with (yay, free
                                    food!!). For more information on schools visits, click&nbsp;<a href="http://www.joh.cam.ac.uk/schools">here</a>&nbsp;for the information college’s website.<br></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col" style="padding-top: 20px;">
                                <h4 class="text-center">College and University Open Days</h4>
                                <p class="text-center">The college runs its own Open Days around 3 or 4 times a year, for applicants who are interested in finding out specifically about St John’s. We’re always looking for people doing a wide range of subjects, so we can run
                                    a subject stand for as many subjects as possible, and also people to help out with tours of the college. Volunteers are also needed for University-wide Open Days (annually at the beginning of July) to show potential
                                    students what we as a college have to offer! Watch out for information about these from the weekly JCR email and the Access mailing list.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5" style="padding-top: 20px;">
                                <h4 class="text-center">CUSU Shadowing Scheme</h4>
                                <p class="text-center">In January every year, hundreds of Year 12 students from state schools in the UK stay in Cambridge for a weekend to experience what the University has to offer, under the careful guidance of a personal mentor – a bona fide
                                    Cambridge student. You could be a mentor! You’ll take a “shadow” under your wing for a few days, show them the ropes of day-to-day life in Cambridge, and by the end of it they’ll be rethinking the preconceived ideas
                                    about the “typical” Cambridge student they may have had when they arrived. You’ll be an integral part of showing them that there is no such thing as the “typical” Cambridge student! Watch out for information about this
                                    being circulated during the Michaelmas term every year.<br></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xl-4" style="padding-top: 20px;">
                                <h4 class="text-center">Access Tour</h4>
                                <p class="text-center">In March 2016, St John’s is going to be running an Access Tour to North-West England following the success of the 2015 bus. The aim of this is to get round as many secondary schools as possible in just three days. This
                                    will involve teams of undergraduates working with graduate students/fellows to give talks and presentations to raise aspirations of those who may one day apply to Cambridge or another university. Like the JCR Access
                                    Facebook page for updates on when you can sign-up!<br></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col" style="padding-top: 20px;">
                                <h4 class="text-center">Alternative Prospectus</h4>
                                <p class="text-center">New for Lent 2016, the Alternative Prospectus will soon be available online and in print! If you have any photos of you and your friends involved in college life that you think would be an addition to this publication,
                                    then send them in to Imy on access@sjcjcr.com.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div class="row">
                            <div class="col-xl-5" style="padding-top: 20px;">
                                <h4 class="text-center">CAMbassadors</h4>
                                <p class="text-center">If you’re a second year or above, apply to be an ambassador for Access on behalf of the University as a whole! You’ll be employed by the Cambridge Admissions Office and used for all their centrally-run Access and Recruitment
                                    events. You’ll get paid, and you could even get involved in the Sutton Trust residential Summer Schools, which is a highly rewarding experience. Deadline for applications usually in the first half of November annually.<br></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col" style="padding-top: 20px;">
                                <h4 class="text-center">Target Schools</h4>
                                <p class="text-center">Many students from state schools don’t even consider applying to Cambridge. Sign up to the Target Schools scheme as a volunteer and you could visit your old school, other schools in your home area, or schools further afield
                                    if you wish, to clear the mist that shrouds the Cambridge applications procedure. Your stories and personal experiences can help to convince students that Cambridge is both a great place to study and a fun place to
                                    live. If you would like to volunteer, contact Imy to find out more, or get started by signing up straightaway to the Target website&nbsp;<a href="http://www.target.cusu.co.uk/">here</a>. There’s loads of resources on
                                    the website to help you run a successful session, and the CUSU Access Officer runs various Target Schools workshops throughout the year.<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5" style="padding-top: 20px;">
                                <h4 class="text-center">GEEMA</h4>
                                <p class="text-center">Ethnic minority students are still under-represented at Cambridge, which desperately needs rectifying. The <strong>GEEMA</strong> (<strong>G</strong>roup to <strong>E</strong>ncourage<strong>&nbsp;E</strong>thnic&nbsp;<br><strong>M</strong>inority&nbsp;<strong>A</strong>pplications)
                                    scheme is similar to the Target Schools Scheme, but with a keen emphasis on ethnic minority areas. They also provide support to ethnic minority undergrads. Just give Imy a shout if you fancy getting involved. Find out
                                    more information&nbsp;<a href="http://www.becambridge.com/events/black-asian-and-minority-ethnic-students/">here.</a><br></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xl-4" style="padding-top: 20px;">
                                <h4 class="text-center">#cambtweet</h4>
                                <p class="text-center">What’s life really like as a Cambridge student? Follow our CambTweeters as they tweet daily to show you, and ask questions. Check out the latest tweets from our CamTweeters&nbsp;<a href="https://twitter.com/cambtweetcusu?lang=en">here</a>.
                                    If you fancy becoming a CamTweeter yourself, drop Imy a line – we’re always looking for more students to get tweeting!<br></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col" style="padding-top: 20px;">
                                <h4 class="text-center">Cambridge Alternative Prospectus</h4>
                                <p class="text-center">Currently in the process of being revamped. View it&nbsp;<a href="http://www.applytocambridge.com/">here</a>. If you’d like to get involved in rewriting some of the CUSU Alternative Prospectus, or have any ideas, Imy would
                                    be interested to here from you.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" role="tabpanel" id="tab-3">
                        <div class="row">
                            <div class="col-xl-6" style="padding-top: 20px;">
                                <p class="text-left">If you care about making sure no one is put off from applying to Cambridge then GET INVOLVED. You could be part of helping others to realise what a fantastic place John’s is to live and study. There are a number of initiatives
                                    throughout the College and the University that aim to diversify our community and generally heighten educational aspirations. It doesn’t matter what kind of background you yourself come from either – anyone can get
                                    involved in Access work if they have the passion and enthusiasm to encourage students to apply. Imy, your JCR Access Officer is keen to hear from anybody who wants to help out, or anyone with new ideas.<br></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col" style="padding-top: 20px;">
                                <h5 class="text-left">How to get involved:</h5>
                                <ul>
                                    <li>Sign up at the John’s Fresher’s Fair<br></li>
                                    <li>Sign up to the John’s Access mailing list by emailing Megan, the college’s employed Access Officer on accessofficer@joh.cam.ac.uk<br></li>
                                    <li>Contact Imy for more information on access@sjcjcr.com<br></li>
                                    <li>Check out the&nbsp;<a href="https://www.facebook.com/sjcjcraccessofficer?ref=hl">John’s JCR Access Facebook page</a>! Give us a like as well. Shameless self-promotion<br></li>
                                    <li>Run for Access Officer on the JCR committee! Elections at the end of the Lent term annually<br></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer dark" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col text-right align-self-center" data-aos="fade-right"><a href="https://www.facebook.com/stjohnscollegejcr"><i class="fa fa-facebook-square" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                <div class="col text-center" data-aos="fade"><a class="stretched-link" href="https://www.instagram.com/stjohnsjcr/"><i class="fa fa-instagram" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                <div class="col text-left" data-aos="fade-left"><a href="#"><i class="fa fa-snapchat-ghost" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© St. John's JCR Committee 2019</p>
        </div>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/Collapsible-sidebar-left-or-right--Content-overlay.js"></script>
    <script src="/assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="/assets/js/navbartransition.js"></script>
</body>

</html>