{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading">
   Your JCR
  </h1>
  <p class="text-center" id="pageparagraph" style="margin: 0px;">
   The JCR Committee gets up to a lot over the course of the year! Take a look below to see some of the stuff we're involved in and how you can get involved too.
  </p>
 </div>
</div>
{% endblock %}

{% block main %}
<main class="features-boxed">
 <div class="container">
  <div class="row justify-content-center features">
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-md-flex d-xl-flex justify-content-center align-content-stretch justify-content-md-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-group icon">
     </i>
     <h3 class="name">
      Meet the Committee
     </h3>
     <p class="description">
      Do you know your JCR committee? If not, strap in, buckle up, and prepare your mind for us to reveal our identities! Believe it or not, we're nice people who are here to help you - so get clicking.
      <br/>
     </p>
     <a class="learn-more" href="/yourjcr/committee">
      Check us out »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-xl-flex justify-content-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-book icon">
     </i>
     <h3 class="name">
      Academic Affairs
     </h3>
     <p class="description">
      Did someone mention work? Because some students at Cambridge occasionally decide to read a book or submit an essay. For all of your academic and career focussed needs, check out what our Academic Affairs and Careers officer gets
                            up to!
      <br/>
     </p>
     <a class="learn-more" href="/yourjcr/academicaffairs">
      Learn about it »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-key icon">
     </i>
     <h3 class="name">
      Access
     </h3>
     <p class="description">
      Think you're not posh enough to get in? Don't be silly! Our University, College and JCR have some fantastic schemes which make our applications process as fair as possible for everyone! Find out more from our resident access officer.
      <br/>
     </p>
     <a class="learn-more" href="/yourjcr/access">
      Prove it »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-md-flex d-xl-flex justify-content-center align-content-stretch justify-content-md-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-balance-scale icon">
     </i>
     <h3 class="name">
      Equal Opportunities
     </h3>
     <p class="description">
      Do you believe everyone should have an equal opportunity to do well in life? Good! You're a great person! Click here to find out more about the work we do to ensure this, and how you can get involved.
      <br/>
     </p>
     <a class="learn-more" href="/yourjcr/committee/equalops">
      Let me help »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-xl-flex justify-content-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-recycle icon">
     </i>
     <h3 class="name">
      Ethical Affairs
     </h3>
     <p class="description">
      Would you like to make the world a more ethical place? Great - there's nothing like a fellow ethicaliser! Click here to find out more about all of the ethical work we get up to, and how you can help out.
      <br/>
     </p>
     <a class="learn-more" href="/yourjcr/committee/ethical">
      Ethicalise my mind »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-beer icon">
     </i>
     <h3 class="name">
      Ents
     </h3>
     <p class="description">
      Who doesn't like to party? Not you, that's for sure. Why not have a peek into our JCR-run college ents - because who doesn't like cheap booze, great music and amazing people?
      <br/>
     </p>
     <a class="learn-more" href="/yourjcr/ents">
      Let's party »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-md-flex d-xl-flex justify-content-center align-content-stretch justify-content-md-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-envelope-o icon">
     </i>
     <h3 class="name">
      Contact Us
     </h3>
     <p class="description">
      Have some ideas? Want some help? Feeling a bit lonely? Contact one of us, we're happy to help out! Click here to send us a message.
      <br/>
     </p>
     <a class="learn-more" href="/yourjcr/contactus">
      Contact us »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-xl-flex justify-content-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-book icon">
     </i>
     <h3 class="name">
      Constitution
     </h3>
     <p class="description">
      Want to learn more about how the JCR operates and what it does for the college? Look no further! The constitution of the JCR defines the student body, describing officers’ roles, committee responsibilities and all of our policies.
      <br/>
     </p>
     <a class="learn-more" href="/yourjcr/constitution">
      Download me »
     </a>
    </div>
   </div>
   <div class="col-sm-8 col-md-5 col-lg-4 d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center item">
    <div class="box" style="width: 290px;">
     <i class="fa fa-pencil icon">
     </i>
     <h3 class="name">
      Minutes of Meetings
     </h3>
     <p class="description">
      Feel like 10 minutes of overwhelming boredom? Care about what we discuss in meetings? Want to find out if our secretary does their job? Look no further!
      <br/>
     </p>
     <a class="learn-more" href="/yourjcr/minutes">
      Minute me »
     </a>
    </div>
   </div>
  </div>
 </div>
</main>
{% endblock %}
