{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading">
   Committee
  </h1>
  <p class="text-center" id="pageparagraph" style="margin: 0px;">
   Welcome to the Committee section! Here {{JCR['secretary']['name'].split()[0]}} is able to directly upload meeting minutes to the website
   and {{JCR['welfare']['mnb']['name'].split()[0]}} & {{JCR['welfare']['fnb']['name'].split()[0]}} can access the Welfare Requests spreadsheet.
   If anyone has any functionality requests lemme know xxx
  </p>
 </div>
</div>
{% endblock %}

{% block main %}
<main>
 <section class="d-lg-flex justify-content-lg-center" style="width: 100%;padding: 80px;">
  <div class="container" style="width: 100%;">
   <div class="row text-nowrap text-center justify-content-center" style="margin: 0px;width: 100%;">
    <div class="col text-center align-self-center" id="colbutton" style="min-width: 300px;/*background-color: #f5f5f5;*/margin: 10px;max-width: 400px;padding: 0px;">
     <a class="text-center" href="/committee/welfare" id="textlink">
      <div style="padding: 10px;">
       <h4>
        Welfare Requests
       </h4>
       <i class="fas fa-hand-holding-heart" style="font-size: 48px;">
       </i>
      </div>
     </a>
    </div>
    <div class="col text-center align-self-center" id="colbutton" style="min-width: 300px;/*background-color: #f5f5f5;*/margin: 10px;max-width: 400px;padding: 0px;">
     <a class="text-center" href="/committee/upload_minutes" id="textlink">
      <div style="padding: 10px;">
       <h4>
        Upload Minutes
       </h4>
       <i class="fa fa-wpforms" style="font-size: 48px;">
       </i>
      </div>
     </a>
    </div>
   </div>
  </div>
 </section>
</main>
{% endblock %}
