{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading">
   Upload Transparency Report
  </h1>
  <p class="text-center" id="pageparagraph" style="margin: 0px;">
   Here you can upload/ remove transparency
   report from the website, love JC xx
  </p>
 </div>
</div>
{% endblock %}

{% block main %}
<main style="padding: 20px;">
<h1>Upload transparency report</h1>
<form method=post enctype=multipart/form-data>
  <select name="year">
    {% for academic_year in transparency_range[::-1] %}
      <option value="{{academic_year}}">{{academic_year}}</option>
    {% endfor %}
  </select>
  <select name="term">
      <option value="Michaelmas">Michaelmas</option>
      <option value="Lent">Lent</option>
      <option value="Easter">Easter</option>
  </select>
  <input type=file name=file>
  <input type=submit value=Upload>
  {% with messages = get_flashed_messages() %}
   {% if messages %}
     {% for message in messages %}
       <p>{{ message }}</p>
     {% endfor %}
   {% endif %}
  {% endwith %}
  {% for academic_year in sorted(transparency_dict)[::-1] %}
  {% for term in ['Easter', 'Lent', 'Michaelmas'] %}
  {% if term in transparency_dict[academic_year] %}
</form>

 <section style="padding: 20px;">
  <h1>
   {{term}} Term {{academic_year}}
  </h1>
  <ul class="list-group">
    {% for transparency in sorted(transparency_dict[academic_year][term])[::-1] %}
   <li class="list-group-item">
    <span>
      <a href="/yourjcr/transparency?term={{term}}&academicyear={{academic_year}}&filename={{transparency}}">{{transparency}}</a>
      <a class="btn" onclick="return confirm('Are you sure?')"
          href="/committee/delete_transparency?term={{term}}&academicyear={{academic_year}}&filename={{transparency}}">
          Delete transparency
      </a>
    </span>
   </li>
   {% endfor %}
  </ul>
 </section>
{% endif %}
{% endfor %}
{% endfor %}
</main>
{% endblock %}
