{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<div class='container class="col-sm col-md-10 col-lg-10"' id="headerbox" style="padding: 0px;">
 <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
  <h1 class="text-center" id="pageheading">
   Upload minutes
  </h1>
  <p class="text-center" id="pageparagraph" style="margin: 0px;">
   Hey {{JCR['secretary']['name'].split()[0]}}, here you can upload/ remove meeting minutes
   from the website and email them out to the rest of the JCR, love JC xx
  </p>
 </div>
</div>
{% endblock %}

{% block main %}
<main style="padding: 20px;">
<h1>Upload Minutes</h1>
<p>Please upload in the form 'JCR Meeting Minutes yyyy-mm-dd.pdf'</p>
<form method=post enctype=multipart/form-data>
  <select name="year">
    {% for academic_year in minutes_range %}
      <option value="{{academic_year}}">{{academic_year}}</option>
    {% endfor %}
  </select>
  <select name="term">
      <option value="Michaelmas">Michaelmas</option>
      <option value="Lent">Lent</option>
      <option value="Easter">Easter</option>
  </select>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>
{% for academic_year in sorted(minutes_dict)[::-1] %}
{% for term in ['Easter', 'Lent', 'Michaelmas'] %}
{% if term in minutes_dict[academic_year] %}
 <section style="padding: 20px;">
  <h1>
   {{term}} Term {{academic_year}}
  </h1>
  <ul class="list-group">
    {% for minutes in sorted(minutes_dict[academic_year][term])[::-1] %}
   <li class="list-group-item">
    <span>
      <a href="/yourjcr/minutes?term={{term}}&academicyear={{academic_year}}&filename={{minutes}}">{{minutes}}</a>
      <a class="btn" href="/committee/delete_minutes?term={{term}}&academicyear={{academic_year}}&filename={{minutes}}">Delete minutes</a>
    </span>
   </li>
   {% endfor %}
  </ul>
 </section>
{% endif %}
{% endfor %}
{% endfor %}
</main>
{% endblock %}
