#sidebar {
  /*background-color: rgba(59,153,224,0.1);*/
  width: 260px;
  position: fixed;
  top: 0;
  left: -260px;
  height: 100vh;
  z-index: 1032;
  color: #fff;
  overflow-y: scroll;
}

#sidebar.active {
  left: 0;
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);*/
}

#sidebar.sidebar-right {
  left: auto;
  right: -500px;
}

#sidebar.sidebar-right.active {
  right: 0;
}

.open-sidebar {
  cursor: pointer;
}

#sidebar, #sidebar * {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar #close-sidebar {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: rgba(255,255,255,.2);
  float: right;
  cursor: pointer;
  /*margin: 0 0 0 7px;*/
}

#sidebar.sidebar-right #close-sidebar {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#sidebar #close-sidebar:hover {
  background: rgba(59,153,224,0.8);
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1031;
  display: none;
  overflow-y: scroll;
}

#sidebar .sidebar-header {
  padding: 15px;
  background: rgba(0,0,0,.4);
  min-height: 65px;
  text-align: left;
  background-color: rgb(90,135,194);
  overflow-y: scroll;
}

.sidebar-header h1, .sidebar-header h2, .sidebar-header h3, .sidebar-header h4, .sidebar-header h5 {
  margin: 0;
}

#sidebar > ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li a {
  padding: 10px 10px 10px;
  color: #fff;
  display: block;
  text-decoration: none;
  background: rgba(0,0,0,.1);
  /*margin-bottom: 1px;*/
  overflow-y: scroll;
}

#sidebar ul li a:hover, #sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
  background: rgba(0,0,0,.2);
}

#sidebar ul ul a {
  padding-left: 20px;
  background: rgba(255,255,255,.1);
}

#sidebar ul ul a:hover {
  background: rgba(255,255,255,.2);
}

#sidebar ul ul ul a {
  padding-left: 60px;
  background: rgba(255,255,255,.3);
}

#sidebar ul ul ul a:hover {
  background: rgba(255,255,255,.4);
}

#sidebar .btn.btn-default {
  background: rgba(0,0,0,.9);
  border: none;
  color: #fff;
}

#sidebar .btn.btn-default:hover {
  background: rgba(0,0,0,.5);
}

#sidebar hr {
  border-color: rgba(255,255,255,.3);
}

#content {
  /*width: 100%;*/
  /*min-height: 100vh;*/
}

.btn-group, .btn-group-vertical {
  background: transparent;
}

#yourjcr {
  background: rgba(90,135,194,0.5);
  border: none;
}

#b1 {
  background: rgba(59,153,224,0.3);
  border: none;
  font-size: 16px;
}

#b2 {
  background: rgba(59,153,224,0.3);
  border: none;
}

#b1:hover {
  background: rgba(59,153,224,0.6);
}

#b2:hover {
  background: rgba(59,153,224,0.6);
}

span {
  border: none;
}

.container {
  border-radius: 10px;
}

.row.justify-content-around {
  border-radius: 15px;
}

.col.text-center.align-self-center {
  border-radius: 10px;
}

@media (min-width: 768px) {
  #raven {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  #navmenu {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  #sidebar {
    width: 350px;
  }
}

@media (min-width: 992px) {
  #b1 {
    font-size: 20px;
    /*padding-left: 20px;*/
  }
}

@media (min-width: 992px) {
  #close-sidebar {
    margin-right: 20px;
    margin-top: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#close-sidebar {
  text-align: center;
  display: table;
  vertical-align: middle;
}

@media (min-width: 992px) {
  .sidebar-header {
    height: 100px;
  }
}

#colbutton {
  background-color: #f5f5f5;
}

@media (min-width: 992px) {
  #sublink {
    font-size: 16px!important;
  }
}

#sublink {
  font-size: 14px;
}

.menuname {
  width: 80%;
  background-color: rgba(59,153,224,0.3)!important;
  font-size: 16px;
  padding-left: 20px!important;
  /*margin: 10px;*/
}

.menudropdown {
  width: 20%;
  background-color: rgba(59,153,224,0.4)!important;
  padding: 0px;
  margin: 0px;
}

.menuname:hover {
  background-color: rgba(59,153,224,0.5)!important;
}

.menudropdown:hover {
  background-color: rgba(59,153,224,0.5)!important;
}

.menuwrapper {
  margin: 0px!important;
}

@media (min-width: 992px) {
  .menuname {
    font-size: 20px;
  }
}

