{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<h1 class="text-center headershrink" id="pageheading" style="padding-top: 10px;">
 Meet the Committee
 <br/>
</h1>
<p class="text-center" id="pageparagraph" style="padding: 0px;">
 <br/>
 Everything the JCR does doesn’t just happen by itself, it requires the work of our wonderful committee! Have a look below to see our shout-out to them for all of their hard work.
 <br/>
</p>
{% endblock %}

{% block main %}
<main>
 <div class="container">
  <div class="row" data-aos="fade-up" data-aos-duration="700" style="padding-top: 20px;padding-bottom: 20px;">
   <div class="col text-center">
    <h1 class="text-left">
     Academic Affairs and Careers
     <br/>
    </h1>
    <h3 class="text-left text-secondary">
     Dani Vijayakumar
    </h3>
    <h5 class="text-left text-secondary">
     <em>
      CRSid:
     </em>
     <strong>
      <em>
       dv292
      </em>
     </strong>
     <br/>
    </h5>
   </div>
  </div>
  <div class="row" data-aos="fade-up" data-aos-duration="700">
   <div class="col-xl-5">
    <img class="img-fluid border rounded" src="/assets/img/AAffairs.jpg"/>
   </div>
   <div class="clearfix">
   </div>
   <div class="col text-center">
    <div style="padding-top: 10px;">
     <p style="padding: 5px;">
      Hey I’m Dani and I’m the Academic Affairs and Careers Officer. I’m a first year economics student, as well as being one of the college’s Pink Week reps and Marshall society president this year. I’m in charge of all matters related
                            to academic life and careers. I’m looking forward to providing a friendly and supportive academic environment in St John’s and helping you discover the careers industries you’d like to work in!
      <br/>
     </p>
     <div class="row">
      <div class="col-xl-6" style="padding-top: 10px;">
       <button class="btn btn-primary" type="button">
        Contact Me
       </button>
      </div>
      <div class="clearfix">
      </div>
      <div class="col-xl-6" style="padding-top: 10px;">
       <button class="btn btn-primary" type="button">
        Back to Committee
       </button>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</main>
{% endblock %}
