{% extends 'shared/_layout.j2.html' %}

{% block title %}
<title>
 St. John's JCR
</title>
{% endblock %}

{% block header %}
<h1 class="text-center" id="pageheading" style="padding-top: 10px;">
 Meet the Committee
 <br/>
</h1>
<p class="text-center" id="pageparagraph" style="padding: 0px;">
 <br/>
 Everything the JCR does doesn’t just happen by itself, it requires the work of our wonderful committee! Have a look below to see our shout-out to them for all of their hard work.
 <br/>
</p>
{% endblock %}

{% block main %}
<main>
 <div class="container">
  <div class="row" data-aos="fade-up" data-aos-duration="700" style="padding-top: 20px;padding-bottom: 20px;">
   <div class="col text-center">
    <h1 class="text-left">
     Vice President
    </h1>
    <h3 class="text-left text-secondary">
     Nina Newhouse
    </h3>
    <h5 class="text-left text-secondary">
     <em>
      CRSid:
     </em>
     <strong>
      <em>
       nn304
      </em>
     </strong>
     <br/>
    </h5>
   </div>
  </div>
  <div class="row" data-aos="fade-up" data-aos-duration="700">
   <div class="col-xl-5">
    <img class="img-fluid border rounded" src="/assets/img/VicePresident.jpg"/>
   </div>
   <div class="clearfix">
   </div>
   <div class="col text-center">
    <div style="padding-top: 10px;">
     <p style="padding: 5px;">
      Hey, I’m Nina, second year Geographer and your Vice Pres for this year! I’m also involved with the Cambridge International Development society, college netball and lacrosse, and am helping to organise a climate change forum this
                            term. Being VP means I’m in charge of the JCR constitution, chair the open meetings we hold and more generally support the Presidents in what they do. I’m also in charge of Fresher’s Week, so if you ever feel a bit lost or
                            confused during Fresher’s Week, or at any point during the year, I’m your first call. In the meantime, if you’ve got any questions or suggestions, please feel free to email me!
      <br/>
     </p>
     <div class="row">
      <div class="col-xl-6" style="padding-top: 10px;">
       <button class="btn btn-primary" type="button">
        Contact Me
       </button>
      </div>
      <div class="clearfix">
      </div>
      <div class="col-xl-6" style="padding-top: 10px;">
       <button class="btn btn-primary" type="button">
        Back to Committee
       </button>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</main>
{% endblock %}
