{
  "help": ["Google account is sjcjcrmisc@gmail.com, password in handover.",
      "Gmail app passwords are securer since they can only be used in a specific",
      "location for a specific purpose. Need to be generated for use.",
      "Copy this file removing '.template' then add keys",
      "App passwords: https://support.google.com/accounts/answer/185833?hl=en",
      "Recaptcha : https://www.google.com/recaptcha/admin"],
  "gmailkey":"INSERT 16 DIGIT APP PASSWORD HERE",
  "captchapublickey":"6LdI-LgUAAAAAM7BWzlvLCKuFR5p0jFTqaOpoo-L",
  "captchaprivatekey":"***REMOVED***"
}
