<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JCRweb</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div>
        <div class="overlay"></div>
        <div id="sidebar" class="sidebar-right" style="background-color: rgba(118,187,239,0.17);">
            <div class="sidebar-header" style="background-color: rgba(59,153,224,0.68);">
                <div id="close-sidebar"><i class="fa fa-chevron-left"></i></div>
                <h2></h2>
            </div>
            <ul>
                <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/yourjcr/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Your JCR</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#yourjcrmenu" aria-controls="yourjcrmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                    <ul
                        class="list-unstyled collapse" id="yourjcrmenu" aria-expanded="false">
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
            </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" style="width: 80%;" href="/studentlife/home"><i class="fa fa-user"></i>&nbsp;Student Life</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#slifemenu" aria-controls="slifemenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="slifemenu" aria-expanded="false">
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/freshers/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Freshers</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#freshersmenu" aria-controls="freshersmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="freshersmenu" aria-expanded="false">
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/currentstudents/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Current Students</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#cstudentsmenu" aria-controls="cstudentsmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="cstudentsmenu" aria-expanded="false">
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    </ul>
            </li>
            </ul>
        </div>
    </div>
    <section id="navbarheading" class="clean-block features" style="background-position: center;background-size: cover;background-repeat: no-repeat;filter: brightness(100%) contrast(100%) saturate(100%);padding-bottom: 0px;width: 100%;height: 80vh;background-image: url(&quot;assets/img/110614.jpg&quot;);">
        <div class="row" style="height: 15vh;">
            <div class="col">
                <nav class="navbar navbar-light navbar-expand">
                    <div class="container-fluid"><a class="navbar-brand" href="/" style="color: rgba(255,255,255,0.9);font-family: Montserrat, sans-serif;font-weight: 600;font-style: semi-bold;">ST JOHN'S JCR</a>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <div class="btn-group ml-auto" role="group"><a class="btn btn-primary ml-auto pull-right" role="button" id="raven" href="/login" style="margin: 0px 0px;margin-left: 0px;background-color: rgba(0,123,255,0);border-color: transparent;"><i class="fas fa-crow"></i>&nbsp; Login</a>
                                <button
                                    class="btn btn-primary ml-auto pull-right open-sidebar" id="navmenu" type="button" style="margin: 0px 0px;margin-left: 0px;background-color: transparent;border-color: transparent;"><i class="fa fa-navicon"></i>&nbsp;Menu</button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row justify-content-center" style="height: 65vh;">
            <div class="col text-center align-self-end" style="max-width: 70%;padding: 0px;padding-bottom: 50px;">
                <div class="jumbotron" style="background-color: rgba(233,236,239,0.46);margin: 0px;">
                    <h2 class="text-center" style="padding: 25px 10px;">Server Error&nbsp;<i class="fas fa-laptop-medical"></i></h2>
                    <p class="text-center">Uh oh! An internal server error has occurred.</p>
                    <p class="text-center">This has been logged and reported however if you think this is a serious issue you can also let the Computing officer know<a href="mailto:computing@sjcjcr.com"> via email</a>.</p>
                </div>
            </div>
        </div>
    </section>
    <main>
        <section style="padding: 0px 10px;"></section>
    </main>
    <footer class="page-footer dark" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);">Your JCR on Facebook</h5>
                    <ul>
                        <li><a href="#" style="color: rgb(62,60,60);">Access&nbsp;<i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">Welfare &nbsp;<i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">ConSent John's&nbsp;<i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);">Student Life</h5>
                    <ul>
                        <li><a href="#" style="color: rgb(62,60,60);">Official College Site&nbsp;</a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR Welfare &nbsp;</a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR Ents&nbsp;</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);">Freshers</h5>
                    <ul>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR&nbsp;</a><i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></li>
                        <li><a href="#" style="color: rgb(62,60,60);">Welfare &nbsp;</a><i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></li>
                        <li><a href="#" style="color: rgb(62,60,60);">Ents&nbsp;</a><i class="fa fa-instagram" style="background-color: rgba(255,255,255,0.05);"></i></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);">More social Media</h5>
                    <ul>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR Page&nbsp;</a><i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></li>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR Insta &nbsp;</a><i class="fa fa-instagram" style="background-color: rgba(255,255,255,0.05);"></i></li>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR Ents&nbsp;</a><i class="fa fa-instagram" style="background-color: rgba(255,255,255,0.05);"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Website design credits</p>
            <p>© St. John's JCR Committee 2019</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>