<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JCRweb_master</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/assets/css/Collapsible-sidebar-left-or-right--Content-overlay.css">
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="/assets/css/JohnianHeader.css">
    <link rel="stylesheet" href="/assets/css/JohnianNavbar.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
<title>St. John's College JCR</title>
</head>

<body>
    <div>
        <div class="overlay"></div>
        <div id="sidebar" class="sidebar-right" style="background-color: rgba(118,187,239,0.17);">
            <div class="sidebar-header" style="background-color: rgba(59,153,224,0.68);">
                <div id="close-sidebar"><i class="fa fa-chevron-left"></i></div>
                <h2></h2>
            </div>
            <ul>
                <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/yourjcr/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Your JCR</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#yourjcrmenu" aria-controls="yourjcrmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                    <ul
                        class="list-unstyled collapse" id="yourjcrmenu" aria-expanded="false">
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
            </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" style="width: 80%;" href="/studentlife/home"><i class="fa fa-user"></i>&nbsp;Student Life</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#slifemenu" aria-controls="slifemenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="slifemenu" aria-expanded="false">
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/freshers/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Freshers</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#freshersmenu" aria-controls="freshersmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="freshersmenu" aria-expanded="false">
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/currentstudents/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Current Students</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#cstudentsmenu" aria-controls="cstudentsmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="cstudentsmenu" aria-expanded="false">
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    </ul>
            </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand fixed-top">
        <div class="container-fluid"><a class="navbar-brand" id="logo" href="/" style="color: rgba(255,255,255,0.9);font-family: Montserrat, sans-serif;font-weight: 600;font-style: semi-bold;">ST JOHN'S JCR</a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <div class="btn-group ml-auto" role="group"><a class="btn btn-primary ml-auto pull-right" role="button" id="raven" href="/login" style="margin: 0px 0px;margin-left: 0px;background-color: rgba(0,123,255,0);border-color: transparent;"><i class="fas fa-crow"></i>&nbsp; Login</a>
                    <button
                        class="btn btn-primary ml-auto pull-right open-sidebar" id="navmenu" type="button" style="margin: 0px 0px;margin-left: 0px;background-color: transparent;border-color: transparent;"><i class="fa fa-navicon"></i>&nbsp;Menu</button>
                </div>
            </div>
        </div>
    </nav>
    <section id="navbarheading" class="clean-block features" style="background-position: center;background-size: cover;background-repeat: no-repeat;filter: brightness(100%) contrast(100%) saturate(100%);padding-bottom: 0px;width: 100%;background-image: url(&quot;/assets/img/110614.jpg&quot;);">
        <div class="container class=&quot;col-sm col-md-10 col-lg-10&quot;" style="padding: 0px;">
            <div class="jumbotron" style="background-color: rgba(233,236,239,0.6);margin: 35px;padding: 25px;margin-top: 0px;">
                <h1 class="display-4 text-center" id="pageheading" style="padding: 25px 10px;">Page not found&nbsp;<i class="far fa-sad-cry"></i></h1>
            </div>
        </div>
    </section>
    <main id="main">
        <section>
            <p class="text-center" style="font-size: 24px;">Uh oh! The page you're looking for couldn't be found.&nbsp;</p>
            <p class="text-center" style="font-size: 24px;">If you think something's wrong contact the <a href="mailto:computing@sjcjcr.com">JCR Computing Officer</a>.</p>
            <div class="container">
                <div class="row text-center d-lg-flex justify-content-around align-content-around justify-content-lg-center align-items-lg-center" data-aos="fade-up" data-aos-duration="700" style="margin: 0px;width: 100%;">
                    <div class="col text-center align-self-center" id="colbutton" style="margin: 20px;padding: 0px;/*min-width: 300px;*//*max-width: 350px;*/">
                        <a class="text-center" id="textlink" href="/yourjcr">
                            <div style="padding: 10px;">
                                <h4>Your JCR</h4><i class="fa fa-group" style="font-size: 48px;"></i></div>
                        </a>
                    </div>
                    <div class="col text-center align-self-center" id="colbutton" style="min-width: 300px;/*background-color: #f2f2f2;*/margin: 20px;max-width: 350px;padding: 0px;">
                        <a class="text-center" id="textlink" href="/studentlife">
                            <div style="padding: 10px;">
                                <h4>Student Life</h4><i class="fa fa-bicycle" style="font-size: 48px;"></i></div>
                        </a>
                    </div>
                    <div class="col text-center align-self-center" id="colbutton" style="min-width: 300px;/*background-color: #f2f2f2;*/margin: 20px;max-width: 350px;padding: 0px;">
                        <a class="text-center" id="textlink" href="/freshers">
                            <div style="padding: 10px;">
                                <h4>Freshers</h4><i class="fa fa-info-circle" style="font-size: 48px;"></i></div>
                        </a>
                    </div>
                    <div class="col text-center align-self-center" id="colbutton" style="padding: 0px;/*background-color: #f5f5f5;*/margin: 20px;max-width: 350px;min-width: 300px;">
                        <a class="text-center" id="textlink" href="/currentstudents">
                            <div style="padding: 10px;">
                                <h4>Current Students</h4><i class="fas fa-home" style="font-size: 48px;"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col text-right align-self-center" data-aos="fade-right"><a href="https://www.facebook.com/stjohnscollegejcr"><i class="fa fa-facebook-square" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                <div class="col text-center" data-aos="fade"><a class="stretched-link" href="https://www.instagram.com/stjohnsjcr/"><i class="fa fa-instagram" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                <div class="col text-left" data-aos="fade-left"><a href="#"><i class="fa fa-snapchat-ghost" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© St. John's JCR Committee 2019</p>
        </div>
    </footer>
    <div>
        <div class="overlay"></div>
        <div id="sidebar" class="sidebar-right" style="background-color: rgba(118,187,239,0.17);">
            <div class="sidebar-header">
                <div id="close-sidebar"><i class="fa fa-chevron-left" id="closemenu"></i></div>
                <h2></h2>
            </div>
            <ul>
                <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/yourjcr/home"><i class="fa fa-user"></i>&nbsp;Your JCR</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#yourjcrmenu" aria-expanded="false" aria-controls="yourjcrmenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                    <ul
                        class="list-unstyled collapse" id="yourjcrmenu" aria-expanded="false">
                        <li id="sublink"> <a href="/yourjcr/committee"><i class="fa fa-group"></i>&nbsp; Committee</a></li>
                        <li id="sublink"> <a href="/yourjcr/academicaffairs"><i class="fa fa-book"></i>&nbsp; Academic Affairs</a></li>
                        <li id="sublink"> <a href="/yourjcr/access"><i class="fa fa-key"></i>&nbsp; Access</a></li>
                        <li id="sublink"> <a href="/yourjcr/consentjohns"><i class="fa fa-intersex"></i>&nbsp; Consent John's</a></li>
                        <li id="sublink"> <a href="/yourjcr/ents"><i class="fas fa-glass-cheers"></i>&nbsp; Ents</a></li>
                        <li id="sublink"> </li>
            </ul>
            </li>
            <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/studentlife/home"><i class="fa fa-user"></i>&nbsp; Student Life</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#slifemenu" aria-expanded="false" aria-controls="slifemenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                <ul
                    class="list-unstyled collapse" id="slifemenu" aria-expanded="false">
                    <li id="sublink"> <a href="#"><i class="fa fa-mortar-board"></i>&nbsp; Life in Cambridge</a></li>
                    <li id="sublink"> <a href="#"><i class="fa fa-soccer-ball-o"></i>&nbsp; Clubs &amp; Societies</a></li>
                    <li id="sublink"> <a href="#"><i class="fa fa-university"></i>&nbsp; Facilities</a></li>
                    <li id="sublink"> </li>
                    </ul>
            </li>
            <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/freshers/home"><i class="fa fa-user"></i>&nbsp; Freshers</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#freshersmenu" aria-expanded="false" aria-controls="freshersmenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                <ul
                    class="list-unstyled collapse" id="freshersmenu" aria-expanded="false">
                    <li id="sublink"> <a href="/freshers/yourfirstday"><i class="fa fa-info-circle"></i>&nbsp; Your First Day</a></li>
                    <li id="sublink"> <a href="/freshers/whattobring"><i class="fa fa-suitcase"></i> What to bring</a></li>
                    <li id="sublink"> <a href="/freshers/vpwelcome"><i class="fa fa-star"></i> Welcome from the VP</a></li>
                    <li id="sublink"> <a href="/freshers/usefulcontacts"><i class="fas fa-link"></i> Useful Contacts</a></li>
                    <li id="sublink"> <a href="/freshers/glossary"><i class="fa fa-question"></i>&nbsp; Glossary of Terms</a></li>
                    </ul>
            </li>
            <li><span class="d-flex menuwrapper" style="width: 100%;"><a class="menuname" href="/currentstudents/home"><i class="fa fa-user"></i>&nbsp; Current Students</a><a class="text-center d-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center menudropdown" role="button" href="#cstudentsmenu" aria-expanded="false" aria-controls="cstudentsmenu" data-toggle="collapse"><i class="fa fa-caret-down d-lg-flex"></i></a></span>
                <ul
                    class="list-unstyled collapse" id="cstudentsmenu" aria-expanded="false">
                    <li id="sublink"> <a href="/currentstudents/welfare"><i class="fa fa-star"></i>&nbsp; Welfare Supplies</a></li>
                    <li id="sublink"> <a href="/currentstudents/feedback"><i class="fa fa-wpforms"></i>&nbsp; Facilities Feedback</a></li>
                    <li id="sublink"> <a href="/currentstudents/elections"><i class="fa fa-info-circle"></i>&nbsp; JCR Elections</a></li>
                    </ul>
            </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand fixed-top">
        <div class="container-fluid"><a class="navbar-brand" id="logo" href="/" style="color: rgba(255,255,255,0.9);font-family: Montserrat, sans-serif;font-weight: 600;font-style: semi-bold;min-width: none;">ST JOHN'S JCR</a>
            <div class="collapse navbar-collapse" id="navcol-1" style="min-width: none;">
                <div class="btn-group ml-auto" role="group"><a class="btn btn-primary ml-auto pull-right" role="button" id="raven" href="/login" style="margin: 0px 0px;margin-left: 0px;background-color: rgba(0,123,255,0);border-color: transparent;min-width: none;"><i class="fas fa-crow"></i>&nbsp; Login</a>
                    <button
                        class="btn btn-primary ml-auto pull-right open-sidebar" id="navmenu" type="button" style="margin: 0px 0px;margin-left: 0px;background-color: transparent;border-color: transparent;min-width: none;"><i class="fa fa-navicon"></i>&nbsp;Menu</button>
                </div>
            </div>
        </div>
    </nav>
    <footer class="page-footer dark" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col text-right align-self-center" data-aos="fade-right"><a href="https://www.facebook.com/stjohnscollegejcr"><i class="fa fa-facebook-square" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                <div class="col text-center" data-aos="fade"><a class="stretched-link" href="https://www.instagram.com/stjohnsjcr/"><i class="fa fa-instagram" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
                <div class="col text-left" data-aos="fade-left"><a href="#"><i class="fa fa-snapchat-ghost" style="font-size: 60px;color: rgb(145,145,145);padding: 2px;"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© St. John's JCR Committee 2019</p>
        </div>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/Collapsible-sidebar-left-or-right--Content-overlay.js"></script>
    <script src="/assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="/assets/js/navbartransition.js"></script>
</body>

</html>