{% extends 'shared/_layout.j2.html' %}
{% import 'shared/_picture_card.j2.html' as pictureCard %}

{% block title %}
<title>Facilities</title>
{% endblock %}

{% block header %}
<H1>Facilities</H1>
<p>St John's is home to many wonderful facilities. This is your handy guide to what's what</p>
{% endblock %}

{% block main %}
<main>
    <hr>
    <div class="row">
        <div class="col">
            <div class="container">
                <ul class="nav nav-tabs card-header">
                    {% for club_category in clubs_by_category %}
                    {% set activity = "active" if loop.index == 1 %}
                    <li class="nav-item"><a class="nav-link {{activity}}" role="tab" data-toggle="tab"
                        href="#tab-{{loop.index}}">{{club_category.category}}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for club_category in clubs_by_category %}
                    {% set activity = "show active" if loop.index == 1 %}
                    <div class="tab-pane fade {{activity}}" role="tabpanel" id="tab-{{loop.index}}">
                            <div class="card">
                                <div class="card-body">
                                    {% for club in club_category.clubs %}
                                        {% if loop.index > 1 %}<hr>{% endif %}
                                        {% if loop.index % 2 == 1 %}
                                            {{pictureCard.left(club)}}
                                        {% else %}
                                            {{pictureCard.right(club)}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}