<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JCRweb</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

<body>
    <div>
        <div class="overlay"></div>
        <div id="sidebar" class="sidebar-right" style="background-color: rgba(118,187,239,0.17);">
            <div class="sidebar-header" style="background-color: rgba(59,153,224,0.68);">
                <div id="close-sidebar"><i class="fa fa-chevron-left"></i></div>
                <h2></h2>
            </div>
            <ul>
                <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/yourjcr/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Your JCR</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#yourjcrmenu" aria-controls="yourjcrmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                    <ul
                        class="list-unstyled collapse" id="yourjcrmenu" aria-expanded="false">
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                        <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
            </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" style="width: 80%;" href="/studentlife/home"><i class="fa fa-user"></i>&nbsp;Student Life</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#slifemenu" aria-controls="slifemenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="slifemenu" aria-expanded="false">
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    <li> <a href="#"><i class="fa fa-link"></i> Link</a></li>
                    </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/freshers/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Freshers</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#freshersmenu" aria-controls="freshersmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="freshersmenu" aria-expanded="false">
                    <li> <a href="/freshers/yourfirstday"><i class="fa fa-link"></i>&nbsp; Your First Day</a></li>
                    <li> <a href="/freshers/whattobring"><i class="fa fa-link"></i> What to bring</a></li>
                    <li> <a href="/freshers/vpwelcome"><i class="fa fa-link"></i> Welcome from the VP</a></li>
                    <li> <a href="/freshers/usefulcontacts"><i class="fa fa-link"></i> Useful Contacts</a></li>
                    <li> <a href="/freshers/glossary"><i class="fa fa-link"></i>&nbsp; Glossary of Terms</a></li>
                    </ul>
            </li>
            <li><span style="width: 100%;"><div class="btn-group" role="group" id="yourjcr" style="width: 100%;"><a class="btn btn-primary text-left pull-right" role="button" id="b1" href="/currentstudents/home" style="width: 80%;"><i class="fa fa-user"></i>&nbsp;Current Students</a><button class="btn btn-primary collapsed" id="b2" data-toggle="collapse" data-target="#cstudentsmenu" aria-controls="cstudentsmenu" aria-expanded="false" style="width: 20%;"><i class="fa fa-caret-down"></i></button></div></span>
                <ul
                    class="list-unstyled collapse" id="cstudentsmenu" aria-expanded="false">
                    <li> <a href="/currentstudents/welfare"><i class="fa fa-link"></i>&nbsp;Welfare Supplies</a></li>
                    <li> <a href="/currentstudents/feedback"><i class="fa fa-link"></i>&nbsp;Facilities Feedback</a></li>
                    <li> <a href="/currentstudents/elections"><i class="fa fa-link"></i>&nbsp;JCR Elections</a></li>
                    </ul>
            </li>
            </ul>
        </div>
    </div>
    <section id="navbarheading" class="clean-block features" style="background-position: center;background-size: cover;background-repeat: no-repeat;filter: brightness(100%) contrast(100%) saturate(100%);padding-bottom: 0px;width: 100%;height: 80vh;background-image: url(&quot;../assets/img/110614.jpg&quot;);">
        <div class="row" style="height: 15vh;">
            <div class="col">
                <nav class="navbar navbar-light navbar-expand">
                    <div class="container-fluid"><a class="navbar-brand" href="/" style="color: rgba(255,255,255,0.9);font-family: Montserrat, sans-serif;font-weight: 600;font-style: semi-bold;">ST JOHN'S JCR</a>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <div class="btn-group ml-auto" role="group"><a class="btn btn-primary ml-auto pull-right" role="button" id="raven" href="/login" style="margin: 0px 0px;margin-left: 0px;background-color: rgba(0,123,255,0);border-color: transparent;"><i class="fas fa-crow"></i>&nbsp; Login</a>
                                <button
                                    class="btn btn-primary ml-auto pull-right open-sidebar" id="navmenu" type="button" style="margin: 0px 0px;margin-left: 0px;background-color: transparent;border-color: transparent;"><i class="fa fa-navicon"></i>&nbsp;Menu</button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row justify-content-center" style="height: 65vh;">
            <div class="col text-center align-self-end" style="max-width: 70%;padding: 0px;padding-bottom: 50px;">
                <div class="jumbotron" style="background-color: rgba(233,236,239,0.46);margin: 0px;">
                    <h1>What to expect on your first day</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <main>
        <section data-aos="fade-up" data-aos-duration="500" class="clean-block about-us" style="padding: 0px 0px;">
            <div class="container" style="max-width: 800px;padding: 0px 0px;">
                <h2 class="text-center text-info" style="padding: 20px 30px;"></h2>
                <p class="text-center" style="width: 90%;margin-left: 5%;max-width: 90%;min-width: 70%;padding: 5px 0px;margin-right: 5%;line-height: 16px;">You will be able to arrive in college from 8am-4pm** on XXX and YYY for international and home students respectively. You will go to the reception centre to sign in (details below) and you will then go back to your car to unload your luggage.<br></p>
                <p
                    class="text-center" style="width: 90%;margin-left: 5%;max-width: 90%;min-width: 70%;padding: 5px 0px;margin-right: 5%;line-height: 16px;">That evening, you will be welcomed to the College by the Master, Senior Tutor and the JCR President, before meeting your tutor and Director of &nbsp;Studies (DoS) and have your first experience of fine dining in our beloved Hogwarts-esque
                    hall!&nbsp;<br></p>
                    <p class="text-center" style="width: 90%;margin-left: 5%;max-width: 90%;min-width: 70%;padding: 5px 0px;margin-right: 5%;line-height: 16px;">The JCR committee will all be wearing stash&nbsp;with our names on, so look out for us! We’ll be here to help&nbsp;you find your way around and answer any questions.<br></p>
            </div>
        </section>
        <div class="jumbotron" data-aos="fade-up" data-aos-duration="600" style="background-image: url(&quot;../assets/img/110614_16574.jpg&quot;);background-size: cover;background-repeat: no-repeat;filter: brightness(100%);background-position: center;margin: 0px 10px;margin-bottom: 0px;padding: 10px;border-radius: 20px;">
            <div class="container" style="background-color: rgba(254,241,241,0.8);max-width: 800px;padding: 10px 10px;">
                <h6 class="text-truncate text-center" style="padding: 5px;font-size: 32px;">Getting here</h6>
                <p>However you get into central Cambridge, approach John’s from the back, the entrance is on Northampton Street, next to St. John´s Chophouse. If there’s space, you can park in Cripps Car Park for a short time to unload your stuff, but for
                    longer-term stay, you’ll have to park in the playing fields car park on the other side of Queen’s Road (there will be signs!)</p>
            </div>
        </div>
        <section data-aos="fade-up" data-aos-duration="500" class="clean-block about-us" style="padding: 0px 0px;">
            <div class="container" style="padding: 0px 0px;max-width: 800px;">
                <h2 class="text-center text-info" style="padding: 15px;">Signing In</h2>
                <p class="text-center" style="width: 90%;margin-left: 5%;max-width: 90%;min-width: 70%;padding: 5px 0px;margin-right: 5%;line-height: 16px;">As soon as you arrive, you need to go to the Palmerston Room in the Fisher Building (next to the Cripps building – see the college map below) and sign your tenancy agreement, pick up your key and college card, as well as various important
                    pieces of paper.&nbsp;<br></p>
                <p class="text-center" style="width: 90%;margin-left: 5%;max-width: 90%;min-width: 70%;padding: 5px 0px;margin-right: 5%;line-height: 16px;">The JCR committee will be there, handing out&nbsp;your Freshers Week timetable and wristband. This wristband will be your&nbsp;pass for many important events over the course of the week – do not cut&nbsp;it off before 9th October!<br></p>
                <p
                    class="text-center" style="width: 90%;margin-left: 5%;max-width: 90%;min-width: 70%;padding: 5px 0px;margin-right: 5%;line-height: 16px;">&nbsp;You can then start the arduous process of unloading the car; trolleys will be available in the Car Park. Sign them out with the resident porter (make sure you return them, too!). You’ll also be able to register your bike with College
                    (if you have one).<br></p>
            </div>
        </section>
        <div class="jumbotron" data-aos="fade-up" data-aos-duration="600" style="background-image: url(&quot;../assets/img/_AT_1180.jpg&quot;);background-size: cover;background-repeat: no-repeat;filter: brightness(100%);background-position: center;padding: 10px;margin: 0px 10px;border-radius: 20px;">
            <div class="container" style="background-color: rgba(254,241,241,0.8);max-width: 800px;padding: 10px 10px;">
                <h6 class="text-center" style="padding: 5px;font-size: 32px;">The rest of the day</h6>
                <p class="text-center">Once you’ve finished unpacking, wander across College to your pigeon-hole (by the main gate in first court) to check your post. The JCR (in 2nd Court)&nbsp;will be open all day, along with the JCR committee to answer any questions you
                    might have.</p>
                <p class="text-center">After dining in Hall that evening there will be Fresher staircase parties and JCR-led nights out.... CONFIRM WITH NINA</p>
            </div>
        </div>
    </main>
    <footer class="page-footer dark" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);">Your JCR on Facebook</h5>
                    <ul>
                        <li><a href="#" style="color: rgb(62,60,60);">Access&nbsp;<i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">Welfare &nbsp;<i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">ConSent John's&nbsp;<i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);">Student Life</h5>
                    <ul>
                        <li><a href="#" style="color: rgb(62,60,60);">Official College Site&nbsp;</a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR Welfare &nbsp;</a></li>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR Ents&nbsp;</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);">Freshers</h5>
                    <ul>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR&nbsp;</a><i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></li>
                        <li><a href="#" style="color: rgb(62,60,60);">Welfare &nbsp;</a><i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></li>
                        <li><a href="#" style="color: rgb(62,60,60);">Ents&nbsp;</a><i class="fa fa-instagram" style="background-color: rgba(255,255,255,0.05);"></i></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="color: rgba(1,1,1,0.79);">More social Media</h5>
                    <ul>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR Page&nbsp;</a><i class="fa fa-facebook-square" style="background-color: rgba(255,255,255,0.05);"></i></li>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR Insta &nbsp;</a><i class="fa fa-instagram" style="background-color: rgba(255,255,255,0.05);"></i></li>
                        <li><a href="#" style="color: rgb(62,60,60);">JCR Ents&nbsp;</a><i class="fa fa-instagram" style="background-color: rgba(255,255,255,0.05);"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Website design credits</p>
            <p>© St. John's JCR Committee 2019</p>
        </div>
    </footer>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="../assets/js/script.min.js"></script>
</body>

</html>